{% load static %}
<style>

/********************* center ****************/
#center{
background-image: url(/static/vivah/img/1.jpg);
padding-top: 0px;
background-repeat: no-repeat;
background-size: cover;
 }
.center_1 h2{
 padding-top:100px;
 color:#fff;
 }
.register_right{
padding-top:10px;
  }
.register_right_inner{
clear: left;
border: 3px solid #dcd5c6;
padding: 20px;
width: 72%;
background: #fff;
border-radius: 5px;
box-shadow: 0px 0px 16px #797878;
 }
.register_right_inner_1 .form-control{
      background: #fff;
    border: 2px solid #dbcec9;
    color: #848484;
    font-size: 16px;
	border-radius:0;
	height:50px;
  }
.clear_1{
  margin-bottom:15px;
  }
.register_right_inner_1 h4 {
    height: 50px;
    border: 2px solid #dbcec9;
    text-align:center;
    font-size: 20px;
    color: #000;
	width:45%;
	padding-top:11px;
}
.clear_2 p{
margin-top:10px;
margin-bottom:10px;
text-align: right;
letter-spacing:2px;
  }
.clear_2 p a{
background: #ff7c0b;
border: 2px solid #fff;
padding: 8px 25px;
color: #fff;
font-size: 14px;
font-weight: bold;
border-radius: 8px;
text-transform: uppercase;
  }
.center_3 h2{
font-size:18px;
padding-bottom:20px;
  }
.center_4 p{
font-size:15px;
font-weight:bold;
  }
.well_5{
font-size:12px;
color: #777777;
padding-left:3px;
 }
.center_6 h4{
padding-top:2px;
  }
.center_7 i{
font-size:50px;
color:#fff;
 }
.center_8 p{
font-size:18px;
color:#fff;
 }
.center_9{
background: rgba(0,0,0, 0.7);
padding: 10px 10px 10px 70px;
margin-top: 8px;
 }
.well_4{
border-right:1px solid #f1f1f1;
 }
/********************* center_end ****************/

</style>

<section id="center1" class="clearfix">
    <div class="container">
        <!----<div class="col-sm-12 space_all">

            <div class="col-sm-6">
                <div class="contact_home_13">
                    <a href="#"><img align="left" src="{% static 'vivah/img/481.jpg' %}" width="600" height="440"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="register_left">
                    <div class="register_right_inner clearfix">
                        <div class="center_3">
                            <h2 class="text-center">Your partner search begins with a</br>
                                <span>FREE REGISTRATION</span>!</h2>
                        </div>
                        <div class="clearfix clear">
                            <div class="col-sm-4 register_right_inner_1 space_left">
                                <div class="center_4">
                                    <p> Profile for
                                    <p>
                                </div>
                            </div>
                            <div class="col-sm-8 register_right_inner_1 space_left">
                                <select class="input-text">
                                    <option value="Religion">Select Matrimony Profile for</option>
                                    <option value="Hindu">Hindu</option>
                                    <option value="Muslim - Shia">Muslim - Shia</option>
                                    <option value="Muslim - Sunni">Muslim - Sunni</option>
                                    <option value="Muslim - Others">Muslim - Others</option>
                                    <option value="Christian">Christian</option>
                                    <option value="Sikh">Sikh</option>
                                    <option value="Jain - Digambar">Jain - Digambar</option>
                                    <option value="Jain - Shwetambar">Jain - Shwetambar</option>
                                    <option value="Jain - Others">Jain - Others</option>
                                    <option value="Parsi">Parsi</option>
                                    <option value="Buddhist">Buddhist</option>
                                    <option value="Inter-Religion">Inter-Religion</option>
                                </select>
                            </div>
                        </div><br>
                        <div class="clearfix clear_1">
                            <div class="col-sm-4 register_right_inner_1 space_left">
                                <div class="center_4">
                                    <p> Name
                                    <p>
                                </div>
                            </div>
                            <div class="col-sm-8 register_right_inner_1 space_left">
                                <input type="text" class="input-text" placeholder="">
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-4 register_right_inner_1 space_left">
                                <div class="center_4">
                                    <p>Date of birth
                                    <p>
                                </div>
                            </div>
                            <div class="col-sm-8 register_right_inner_1 space_left">
                                <select class="span3" name="expiry_month" id="expiry_month">
                                    <option>DD</option>
                                    <option value="01">DD</option>
                                    <option value="02">03</option>
                                    <option value="03">04</option>
                                    <option value="04">05</option>
                                    <option value="05">06</option>
                                    <option value="06">07</option>
                                    <option value="07">08</option>
                                    <option value="08">09</option>
                                    <option value="09">10</option>
                                </select>
                                <select class="span3" name="expiry_month" id="expiry_month">
                                    <option>MM</option>
                                    <option value="01">MM</option>
                                    <option value="02">JAN</option>
                                    <option value="03">FEB</option>
                                    <option value="04">MAR</option>
                                    <option value="05">APR</option>
                                    <option value="06">MAY</option>
                                    <option value="07">JUN</option>
                                    <option value="08">JULY</option>
                                    <option value="09">AUG</option>
                                    <option value="09">SEP</option>
                                    <option value="09">OCT</option>
                                    <option value="09">NOV</option>
                                    <option value="09">DEC</option>
                                </select>
                                <select class="span3" name="expiry_month" id="expiry_month">
                                    <option>YEAR</option>
                                    <option value="01">YEAR</option>
                                    <option value="02">2000</option>
                                    <option value="03">1999</option>
                                    <option value="04">1998</option>
                                    <option value="05">1997</option>
                                    <option value="06">1996</option>
                                    <option value="07">1995</option>
                                    <option value="08">1994</option>
                                    <option value="09">1993</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-4 register_right_inner_1 space_left">
                                <div class="center_4">
                                    <p>Religion
                                    <p>
                                </div>
                            </div>
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <select class="input-text">
                                    <option value="Religion">Religion</option>
                                    <option value="Hindu">Hindu</option>
                                    <option value="Muslim - Shia">Muslim - Shia</option>
                                    <option value="Muslim - Sunni">Muslim - Sunni</option>
                                    <option value="Muslim - Others">Muslim - Others</option>
                                    <option value="Christian">Christian</option>
                                    <option value="Sikh">Sikh</option>
                                    <option value="Jain - Digambar">Jain - Digambar</option>
                                    <option value="Jain - Shwetambar">Jain - Shwetambar</option>
                                    <option value="Jain - Others">Jain - Others</option>
                                    <option value="Parsi">Parsi</option>
                                    <option value="Buddhist">Buddhist</option>
                                    <option value="Inter-Religion">Inter-Religion</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-4 register_right_inner_1 space_left">
                                <div class="center_4">
                                    <p>Mother Tongue
                                    <p>
                                </div>
                            </div>
                            <div class="col-sm-8 register_right_inner_1 space_left">
                                <select class="input-text">
                                    <option value="Religion">Tamil</option>
                                    <option value="Hindu">Hindu</option>
                                    <option value="Muslim - Shia">Muslim - Shia</option>
                                    <option value="Muslim - Sunni">Muslim - Sunni</option>
                                    <option value="Muslim - Others">Muslim - Others</option>
                                    <option value="Christian">Christian</option>
                                    <option value="Sikh">Sikh</option>
                                    <option value="Jain - Digambar">Jain - Digambar</option>
                                    <option value="Jain - Shwetambar">Jain - Shwetambar</option>
                                    <option value="Jain - Others">Jain - Others</option>
                                    <option value="Parsi">Parsi</option>
                                    <option value="Buddhist">Buddhist</option>
                                    <option value="Inter-Religion">Inter-Religion</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-4 register_right_inner_1 space_left">
                                <div class="center_4">
                                    <p>Email ID
                                    <p>
                                </div>
                            </div>
                            <div class="col-sm-8 register_right_inner_1 space_left">
                                <input type="text" class="input-text" placeholder="">
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-4 register_right_inner_1 space_left">
                                <div class="center_4">
                                    <p>Password
                                    <p>
                                </div>
                            </div>
                            <div class="col-sm-8 register_right_inner_1 space_left">
                                <input type="text" class="input-text" placeholder="">
                            </div>
                        </div>
                        <div class="clearfix col-sm-12 clear_2 space_all">
                            <div class="col-sm-5 space_all">
                                <div class="col-sm-12 space_all">
                                    <div class="col-sm-1 space_all">
                                        <div class="center_6">
                                            <h4><a href="#"><input type="checkbox"></a></h4>
                                        </div>

                                    </div>
                                    <div class="col-sm-11 space_all">
                                        <div class="center_5">
                                            <a href="#"><span class="well_5">I have read and agree to the T&C and Privacy Policy</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 space_all">
                                <p><a href="#">Join Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>------>
        <div class="arrange">
             <div class="services_home clearfix">
            <h2 class="text-center"><i class="fa fa-arrows-h"></i></h2></div>
        </div>
        <div class="arrange">
            <hr>
            <h1 class="text-center"><span>Why Choose</span> ShubhShaadiVivah</h1>
            <h3 class="text-center"> ShubhShaadiVivah is different from other matchmaking sites because of some unique
                benefits that every parent will find highly useful</h3>
            <div class="col-sm-12 space_all">
                <div class="center_9 clearfix">
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <div class="center_7">
                                    <i class="fa fa-mobile"></i>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="center_8">
                                    <p class="well_4 clearfix">Get Complete Family Information</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <div class="center_7">
                                    <i class="fa fa-rocket"></i>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="center_8">
                                    <p class="well_4 clearfix">Get Matches from your Community </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <div class="center_7">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="center_8">
                                    <p class="well_6 clearfix">Only Genuine And Verified Portfolio </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


