<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./partner-preference.css" />
    <title>Partner Preference</title>
  </head>
  <body>
    <main>
      <div id="form-wrapper">
        <h2>Partner Preference</h2>
        <form action="">
          <div class="row mb-3">
            <h5>My ideal partner would be like</h5>
            <textarea
              class="form-control"
              name="idealPartner"
              id="idealPartner"
              cols="24"
              rows="6"
              placeholder="My ideal partner would be like..."
            ></textarea>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="age" class="col-form-label">Age</label>
            </div>
            <div class="col-12 col-lg-4">
              <input
                type="number"
                id="age"
                class="form-control"
                placeholder="Min"
              />
            </div>
            <div class="col-lg-1">
              <span class="form-text" style="color: black"> to </span>
            </div>
            <div class="col-12 col-lg-4">
              <input
                type="number"
                id="age"
                class="form-control"
                placeholder="Max"
              />
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="MaritalStatus" class="col-form-label"
                >Marital Status</label
              >
            </div>
            <div class="col-12 col-lg-9">
              <select
                class="form-control"
                name="MaritalStatus"
                id="MaritalStatus"
              >
                <option value="none">Select Marital Status</option>
                <option value="UnMarried">Unmarried</option>
                <option value="Widow/Widower">Widow/Widower</option>
                <option value="Divorce">Divorce</option>
                <option value="Separated">Separated</option>
              </select>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="complexion" class="col-form-label"> Complexion</label>
            </div>
            <div class="col-12 col-lg-9">
              <select class="form-control" name="complexion" id="complexion">
                <option value="null">Select Complexion</option>
                <option value="Fair">Fair</option>
                <option value="Very Fair">Very Fair</option>
                <option value="Medium">Medium</option>
                <option value="Brown">Brown</option>
                <option value="Dark">Dark</option>
              </select>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="height" class="col-form-label"> Height</label>
            </div>
            <div class="col-12 col-lg-3 me-4">
              <input
                type="text"
                class="form-control"
                id="height"
                placeholder="Height(in cms)"
              />
            </div>
            <div class="col-12 col-lg-2 ms-4 me-4 weight-label">
              <label for="weight" class="col-form-label"> Weight</label>
            </div>
            <div class="col-12 col-lg-3">
              <input
                type="text"
                class="form-control"
                id="weight"
                placeholder="Weight(in kgs)"
              />
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="Diet" class="col-form-label"> Diet</label>
            </div>
            <div class="col-12 col-lg-9">
              <select class="form-control" name="Diet" id="Diet">
                <option value="null">Select Diet Preference</option>
                <option value="Vegan">Vegan</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Non Vegetarian">Non Vegetarian</option>
              </select>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="religion" class="col-form-label"> Religion</label>
            </div>
            <div class="col-12 col-lg-9">
              <select class="form-control" name="religion" id="religion">
                <option>Select Religion</option>
                <option value="Bahai">Bahai</option>
                <option value="Buddhist">Buddhist</option>
                <option value="Hindu">Hindu</option>
                <option value="Jain">Jain</option>
                <option value="Christian">Christian</option>
                <option value="Converted to Christian">
                  Converted to Christian
                </option>
                <option value="Inter-Religion">Inter-Religion</option>
                <option value="Jewish">Jewish</option>
                <option value="Muslim">Muslim</option>
                <option value="Other">Other</option>
                <option value="Parsi">Parsi</option>
                <option value="Sikh">Sikh</option>
              </select>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="caste" class="col-form-label"> Caste</label>
            </div>
            <div class="col-12 col-lg-9">
              <select class="form-control" name="caste" id="caste">
                <option>Select Caste</option>
                <option value="Adi Dravida">Adi Dravida</option>
                <option value="Arunthathiyar">Arunthathiyar</option>
                <option value="Boyer">Boyer</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Brahmin - Gurukkal">Brahmin - Gurukkal</option>
                <option value="Brahmin - Iyengar">Brahmin - Iyengar</option>
                <option value="Brahmin - Iyer">Brahmin - Iyer</option>
                <option value="Chettiar">Chettiar</option>
                <option value="Devandra Kula Vellalar">
                  Devandra Kula Vellalar
                </option>
                <option value="Gounder">Gounder</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Karuneegar">Karuneegar</option>
                <option value="Kongu Vellala Gounder">
                  Kongu Vellala Gounder
                </option>
                <option value="Kulalar">Kulalar</option>
                <option value="Kurumbar">Kurumbar</option>
                <option value="Maruthuvar">Maruthuvar</option>
                <option value="Meenavar">Meenavar</option>
                <option value="Mudaliyar">Mudaliyar</option>
                <option value="Mukkulathor">Mukkulathor</option>
                <option value="Muthuraja">Muthuraja</option>
                <option value="Nadar">Nadar</option>
                <option value="Naicker">Naicker</option>
                <option value="Naidu">Naidu</option>
                <option value="Parkava Kulam">Parkava Kulam</option>
                <option value="Pillai">Pillai</option>
                <option value="Reddy">Reddy</option>
                <option value="SC">SC</option>
                <option value="Senai Thalaivar">Senai Thalaivar</option>
                <option value="Sourashtra">Sourashtra</option>
                <option value="Tribe">Tribe</option>
                <option value="Vannar">Vannar</option>
                <option value="Vannia Kula Kshatriyar">
                  Vannia Kula Kshatriyar
                </option>
                <option value="Veera Saivam">Veera Saivam</option>
                <option value="Vellalar">Vellalar</option>
                <option value="Viswakarma">Viswakarma</option>
                <option value="Vokkaliga">Vokkaliga</option>
                <option value="Yadava">Yadava</option>
                <option value="Agnikula Kshatriya">Agnikula Kshatriya</option>
                <option value="Arya Vysya">Arya Vysya</option>
                <option value="Balija">Balija</option>
                <option value="Besta">Besta</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Brahmin - Dravida">Brahmin - Dravida</option>
                <option value="Brahmin - Madhwa">Brahmin - Madhwa</option>
                <option value="Brahmin - Niyogi">Brahmin - Niyogi</option>
                <option value="Brahmin - Smartha">Brahmin - Smartha</option>
                <option value="Brahmin - Sri Vaishnava">
                  Brahmin - Sri Vaishnava
                </option>
                <option value="Brahmin - Vaidiki">Brahmin - Vaidiki</option>
                <option value="Brahmin - Velanadu">Brahmin - Velanadu</option>
                <option value="Brahmin - Telanganya">
                  Brahmin - Telanganya
                </option>
                <option value="Chettiar">Chettiar</option>
                <option value="Devanga">Devanga</option>
                <option value="Gandla">Gandla</option>
                <option value="Gavara">Gavara</option>
                <option value="Gowda">Gowda</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Kalinga">Kalinga</option>
                <option value="Kamma">Kamma</option>
                <option value="Kapu">Kapu</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Kummari">Kummari</option>
                <option value="Kuruba">Kuruba</option>
                <option value="Kamsali">Kamsali</option>
                <option value="Lingayat">Lingayat</option>
                <option value="Mannuru Kapu">Mannuru Kapu</option>
                <option value="Madiga">Madiga</option>
                <option value="Mahendra">Mahendra</option>
                <option value="Mala">Mala</option>
                <option value="Maratha">Maratha</option>
                <option value="Meru Darji">Meru Darji</option>
                <option value="Mudaliyar">Mudaliyar</option>
                <option value="Mudiraj">Mudiraj</option>
                <option value="Nadar">Nadar</option>
                <option value="Nai">Nai</option>
                <option value="Naidu">Naidu</option>
                <option value="Padmasali">Padmasali</option>
                <option value="Patnaick">Patnaick</option>
                <option value="Rajaka">Rajaka</option>
                <option value="Rajput">Rajput</option>
                <option value="Reddy">Reddy</option>
                <option value="SC">SC</option>
                <option value="Telaga">Telaga</option>
                <option value="Tribe">Tribe</option>
                <option value="Vaishnava">Vaishnava</option>
                <option value="Valmiki">Valmiki</option>
                <option value="Vokkaliga">Vokkaliga</option>
                <option value="Velama">Velama</option>
                <option value="Viswabrahmin">Viswabrahmin</option>
                <option value="Yadava">Yadava</option>
                <option value="Ambalavasi">Ambalavasi</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Chettiar">Chettiar</option>
                <option value="Dheevara">Dheevara</option>
                <option value="Ezhava">Ezhava</option>
                <option value="Ezhuthachan">Ezhuthachan</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Kudumbi">Kudumbi</option>
                <option value="Mapila">Mapila</option>
                <option value="Mudaliyar">Mudaliyar</option>
                <option value="Nadar">Nadar</option>
                <option value="Naidu">Naidu</option>
                <option value="Nair">Nair</option>
                <option value="Panicker">Panicker</option>
                <option value="Rajput">Rajput</option>
                <option value="Saliya">Saliya</option>
                <option value="SC">SC</option>
                <option value="Thiyya">Thiyya</option>
                <option value="Tribe">Tribe</option>
                <option value="Veera Saivam">Veera Saivam</option>
                <option value="Veluthedathu Nair">Veluthedathu Nair</option>
                <option value="Vilakkithala Nair">Vilakkithala Nair</option>
                <option value="Viswakarma">Viswakarma</option>
                <option value="Yadava">Yadava</option>
                <option value="Besta">Besta</option>
                <option value="Bhovi">Bhovi</option>
                <option value="Billava">Billava</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Chettiar">Chettiar</option>
                <option value="Coorgi">Coorgi</option>
                <option value="Devadiga">Devadiga</option>
                <option value="Devanga">Devanga</option>
                <option value="Dhobi">Dhobi</option>
                <option value="Ediga">Ediga</option>
                <option value="Ganiga">Ganiga</option>
                <option value="Gowda">Gowda</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Kulal">Kulal</option>
                <option value="Kulal">Kulal</option>
                <option value="Kuruhina Shetty">Kuruhina Shetty</option>
                <option value="Lambadi">Lambadi</option>
                <option value="Lingayat">Lingayat</option>
                <option value="Mangalorean">Mangalorean</option>
                <option value="Mogaveera">Mogaveera</option>
                <option value="Mudaliyar">Mudaliyar</option>
                <option value="Naik">Naik</option>
                <option value="Naidu">Naidu</option>
                <option value="Nayaka">Nayaka</option>
                <option value="Padmasali">Padmasali</option>
                <option value="Rajput">Rajput</option>
                <option value="Reddy">Reddy</option>
                <option value="Shetty">Shetty</option>
                <option value="SC">SC</option>
                <option value="Thigala">Thigala</option>
                <option value="Tribe">Tribe</option>
                <option value="Uppara">Uppara</option>
                <option value="Vaishnav">Vaishnav</option>
                <option value="Viswakarma">Viswakarma</option>
                <option value="Vokkaliga">Vokkaliga</option>
                <option value="Vysya">Vysya</option>
                <option value="Yadava">Yadava</option>
                <option value="Agarwal">Agarwal</option>
                <option value="Bhatia">Bhatia</option>
                <option value="Bhavasar Kshatriya">Bhavasar Kshatriya</option>
                <option value="Brahmbatt">Brahmbatt</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Kayastha">Kayastha</option>
                <option value="Khatri">Khatri</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Kutchi">Kutchi</option>
                <option value="Lohana">Lohana</option>
                <option value="Mochi">Mochi</option>
                <option value="Panchal">Panchal</option>
                <option value="Patel">Patel</option>
                <option value="Prajapati">Prajapati</option>
                <option value="Rajput">Rajput</option>
                <option value="SC">SC</option>
                <option value="Soni">Soni</option>
                <option value="Suthar">Suthar</option>
                <option value="Thakkar">Thakkar</option>
                <option value="Tribe">Tribe</option>
                <option value="Vaishnav">Vaishnav</option>
                <option value="Vankar">Vankar</option>
                <option value="Vysya">Vysya</option>
                <option value="Yadav">Yadav</option>
                <option value="Agri">Agri</option>
                <option value="Arya Vysya">Arya Vysya</option>
                <option value="Bhandari">Bhandari</option>
                <option value="Bhavasar Kshatriya">Bhavasar Kshatriya</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Chambhar">Chambhar</option>
                <option value="CKP">CKP</option>
                <option value="Devang Koshthi">Devang Koshthi</option>
                <option value="Dhangar">Dhangar</option>
                <option value="Dhobi">Dhobi</option>
                <option value="Gabit">Gabit</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Jangam">Jangam</option>
                <option value="Kasar">Kasar</option>
                <option value="Kayastha">Kayastha</option>
                <option value="Koli">Koli</option>
                <option value="Konkani">Konkani</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Kumbhar">Kumbhar</option>
                <option value="Kumbhar">Kumbhar</option>
                <option value="Mahar">Mahar</option>
                <option value="Mali">Mali</option>
                <option value="Maratha">Maratha</option>
                <option value="Matang">Matang</option>
                <option value="Nhavi">Nhavi</option>
                <option value="Patel">Patel</option>
                <option value="Rajput">Rajput</option>
                <option value="SC">SC</option>
                <option value="Shimpi">Shimpi</option>
                <option value="SKP">SKP</option>
                <option value="Sonar">Sonar</option>
                <option value="Suthar">Suthar</option>
                <option value="Swakula Sali">Swakula Sali</option>
                <option value="Teli">Teli</option>
                <option value="Suthar">Suthar</option>
                <option value="Swakula Sali">Swakula Sali</option>
                <option value="Teli">Teli</option>
                <option value="Tribe">Tribe</option>
                <option value="Vaishnav">Vaishnav</option>
                <option value="Vaishya Vani">Vaishya Vani</option>
                <option value="Vaniya">Vaniya</option>
                <option value="Vanjari">Vanjari</option>
                <option value="Vysya">Vysya</option>
                <option value="Yadava">Yadava</option>
                <option value="Agarwal">Agarwal</option>
                <option value="Baidya">Baidya</option>
                <option value="Baishnab">Baishnab</option>
                <option value="Baishya">Baishya</option>
                <option value="Banik">Banik</option>
                <option value="Barujibi">Barujibi</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Goala">Goala</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Karmakar">Karmakar</option>
                <option value="Kayastha">Kayastha</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Kumbhakar">Kumbhakar</option>
                <option value="Mahishya">Mahishya</option>
                <option value="Modak">Modak</option>
                <option value="Namosudra">Namosudra</option>
                <option value="Napit">Napit</option>
                <option value="Rajput">Rajput</option>
                <option value="Saha">Saha</option>
                <option value="Sadgope">Sadgope</option>
                <option value="SC">SC</option>
                <option value="Tamboli">Tamboli</option>
                <option value="Tantubai">Tantubai</option>
                <option value="Tili">Tili</option>
                <option value="Tribe">Tribe</option>
                <option value="Viswakarma">Viswakarma</option>
                <option value="Agarwal">Agarwal</option>
                <option value="Agarwal">Agarwal</option>
                <option value="Agarwal">Agarwal</option>
                <option value="Ad Dharmi">Ad Dharmi</option>
                <option value="Agarwal">Agarwal</option>
                <option value="Bhatia">Bhatia</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Dhiman">Dhiman</option>
                <option value="Ghumar">Ghumar</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Jat">Jat</option>
                <option value="Kamboj">Kamboj</option>
                <option value="Kayastha">Kayastha</option>
                <option value="Khatri">Khatri</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Lubana">Lubana</option>
                <option value="Mahajan">Mahajan</option>
                <option value="Majabi">Majabi</option>
                <option value="Nai">Nai</option>
                <option value="Ramgariah">Ramgariah</option>
                <option value="Rajput">Rajput</option>
                <option value="Ramdasia">Ramdasia</option>
                <option value="Ravidasia">Ravidasia</option>
                <option value="Saini">Saini</option>
                <option value="SC">SC</option>
                <option value="Vaishnav">Vaishnav</option>
                <option value="Vania">Vania</option>
                <option value="Viswakarma">Viswakarma</option>
                <option value="Other Castes">Other Castes</option>
                <option value="Caste No Bar">Caste No Bar</option>
                <option value="Doesnt matter">Doesnt matter</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Sindhi">Sindhi</option>
                <option value="Sindhi-Amil">Sindhi-Amil</option>
                <option value="Sindhi-Baibhand">Sindhi-Baibhand</option>
                <option value="Sindhi-Bhanusali">Sindhi-Bhanusali</option>
                <option value="Sindhi-Bhatia">Sindhi-Bhatia</option>
                <option value="Sindhi-Chhapru">Sindhi-Chhapru</option>
                <option value="Sindhi-Dadu">Sindhi-Dadu</option>
                <option value="Sindhi-Hyderabadi">Sindhi-Hyderabadi</option>
                <option value="Sindhi-Larai">Sindhi-Larai</option>
                <option value="Sindhi-Larkana">Sindhi-Larkana</option>
                <option value="Sindhi-Lohana">Sindhi-Lohana</option>
                <option value="Sindhi-Rohiri">Sindhi-Rohiri</option>
                <option value="Sindhi-Sahiti">Sindhi-Sahiti</option>
                <option value="Sindhi-Sakkha">Sindhi-Sakkha</option>
                <option value="Sindhi-Sehwani">Sindhi-Sehwani</option>
                <option value="Sindhi-Shikarpuri">Sindhi-Shikarpuri</option>
                <option value="Sindhi-Thatai">Sindhi-Thatai</option>
                <option value="Agarwal">Agarwal</option>
                <option value="Baniya">Baniya</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Brahmin - Bhumihar">Brahmin - Bhumihar</option>
                <option value="Brahmin - Kanyakubj">Brahmin - Kanyakubj</option>
                <option value="Brahmin - Gaur">Brahmin - Gaur</option>
                <option value="Brahmin - Maithil">Brahmin - Maithil</option>
                <option value="Brahmin - Saryuparin">
                  Brahmin - Saryuparin
                </option>
                <option value="Brahmin - Garhwali">Brahmin - Garhwali</option>
                <option value="Brahmin - Mishra">Brahmin - Mishra</option>
                <option value="Brahmin - Pandit">Brahmin - Pandit</option>
                <option value="Brahmin - Pande">Brahmin - Pande</option>
                <option value="Brahmin - Shukla">Brahmin - Shukla</option>
                <option value="Brahmin - Tiwari">Brahmin - Tiwari</option>
                <option value="Brahmin- Trivedi">Brahmin- Trivedi</option>
                <option value="Brahmin - Thaker">Brahmin - Thaker</option>
                <option value="Brahmin - Sanadya">Brahmin - Sanadya</option>
                <option value="Brahmin - Kumoani">Brahmin - Kumoani</option>
                <option value="Brahmin - Tyagi">Brahmin - Tyagi</option>
                <option value="Chamar">Chamar</option>
                <option value="Chandravanshi Kahar">Chandravanshi Kahar</option>
                <option value="Chaudary">Chaudary</option>
                <option value="Chaurasia">Chaurasia</option>
                <option value="Chhetri">Chhetri</option>
                <option value="Dhobi">Dhobi</option>
                <option value="Garhwali">Garhwali</option>
                <option value="Goan">Goan</option>
                <option value="Gupta">Gupta</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Jaiswal">Jaiswal</option>
                <option value="Jat">Jat</option>
                <option value="Kalar">Kalar</option>
                <option value="Kalwar">Kalwar</option>
                <option value="Kamboj">Kamboj</option>
                <option value="Kashyap">Kashyap</option>
                <option value="Kayastha">Kayastha</option>
                <option value="Khandelwal">Khandelwal</option>
                <option value="Khatri">Khatri</option>
                <option value="Kori">Kori</option>
                <option value="Kurmi Kshatriya">Kurmi Kshatriya</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Kumhar">Kumhar</option>
                <option value="Lingayat">Lingayat</option>
                <option value="Mahajan">Mahajan</option>
                <option value="Mahar">Mahar</option>
                <option value="Maheshwari">Maheshwari</option>
                <option value="Malla">Malla</option>
                <option value="Mali">Mali</option>
                <option value="Maratha">Maratha</option>
                <option value="Meena">Meena</option>
                <option value="Mehra">Mehra</option>
                <option value="Nai">Nai</option>
                <option value="Oswal">Oswal</option>
                <option value="Pal">Pal</option>
                <option value="Pasi">Pasi</option>
                <option value="Patel">Patel</option>
                <option value="Rajput">Rajput</option>
                <option value="Rajput - Singh">Rajput - Singh</option>
                <option value="Rawat">Rawat</option>
                <option value="Sahu">Sahu</option>
                <option value="Saini">Saini</option>
                <option value="SC">SC</option>
                <option value="Sonar">Sonar</option>
                <option value="Teli">Teli</option>
                <option value="Thakur">Thakur</option>
                <option value="Tribe">Tribe</option>
                <option value="Vaishnav">Vaishnav</option>
                <option value="Vaishya">Vaishya</option>
                <option value="Viswakarma">Viswakarma</option>
                <option value="Yadav">Yadav</option>
                <option value="Other Castes">Other Castes</option>
                <option value="Bhandari">Bhandari</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Chasa">Chasa</option>
                <option value="Dhoba">Dhoba</option>
                <option value="Gudia">Gudia</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Kaibarta">Kaibarta</option>
                <option value="Kansari">Kansari</option>
                <option value="Karana">Karana</option>
                <option value="Kayastha">Kayastha</option>
                <option value="Khandayat">Khandayat</option>
                <option value="Khatri">Khatri</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Kulita">Kulita</option>
                <option value="Kumhar">Kumhar</option>
                <option value="Mali">Mali</option>
                <option value="Maratha">Maratha</option>
                <option value="Patel">Patel</option>
                <option value="Patra">Patra</option>
                <option value="Rajput">Rajput</option>
                <option value="Sahu">Sahu</option>
                <option value="SC">SC</option>
                <option value="Sundhi">Sundhi</option>
                <option value="Tanti">Tanti</option>
                <option value="Teli">Teli</option>
                <option value="Tribe">Tribe</option>
                <option value="Vaishnav">Vaishnav</option>
                <option value="Vaishya">Vaishya</option>
                <option value="Yadava">Yadava</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Irani">Irani</option>
                <option value="Parsi">Parsi</option>
                <option value="Ahom">Ahom</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Kalita">Kalita</option>
                <option value="Kayastha">Kayastha</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Manipuri">Manipuri</option>
                <option value="Maratha">Maratha</option>
                <option value="Nepali">Nepali</option>
                <option value="Rajbonshi">Rajbonshi</option>
                <option value="Rajput">Rajput</option>
                <option value="SC">SC</option>
                <option value="Tribe">Tribe</option>
                <option value="Viswakarma">Viswakarma</option>
                <option value="Agarwal">Agarwal</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Intercaste">Intercaste</option>
                <option value="Jat">Jat</option>
                <option value="Kayastha">Kayastha</option>
                <option value="Khandelwal">Khandelwal</option>
                <option value="Khatri">Khatri</option>
                <option value="Kshatriya">Kshatriya</option>
                <option value="Lingayat">Lingayat</option>
                <option value="Maheshwari">Maheshwari</option>
                <option value="Mali">Mali</option>
                <option value="Oswal">Oswal</option>
                <option value="Porwal">Porwal</option>
                <option value="Rajastani">Rajastani</option>
                <option value="Rajput">Rajput</option>
                <option value="SC">SC</option>
                <option value="Tribe">Tribe</option>
                <option value="Vaish">Vaish</option>
                <option value="Vaishya">Vaishya</option>
                <option value="Vania">Vania</option>
                <option value="Viswakarma">Viswakarma</option>
              </select>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="education" class="col-form-label"> Education</label>
            </div>
            <div class="col-12 col-lg-9">
              <select class="form-control" name="education" id="education">
                <option value="0">Select Education</option>

                <option value="99">
                  Bachelors - Engineering / Computers / Others
                </option>
                <option value="100">
                  Masters - Engineering / Computers / Others
                </option>
                <option value="101">
                  Bachelors - Arts / Science / Commerce / Others
                </option>
                <option value="102">
                  Masters - Arts / Science / Commerce / Others
                </option>
                <option value="103">Bachelors - Management / Others</option>
                <option value="104">Masters - Management / Others</option>
                <option value="105">
                  Bachelors - Medicine - General / Dental / Surgeon / Others
                </option>
                <option value="106">
                  Masters - Medicine - General / Dental / Surgeon / Others
                </option>
                <option value="107">Bachelors - Legal / Others</option>
                <option value="108">Masters - Legal / Others</option>
                <option value="109">
                  Finance - ICWAI / CA / CS/ CFA / Others
                </option>
                <option value="110">
                  Service - IAS / IPS / IRS / IES / IFS / Others
                </option>
                <option value="111">PhD</option>
                <option value="112">Diploma / Others</option>
                <option value="113">Primary</option>
                <option value="114">Higher Secondary / Secondary</option>
                <option value="215">Others</option>
                <option value="217">INTERMIDATE</option>
              </select>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="occupation" class="col-form-label"> Occupation</label>
            </div>
            <div class="col-12 col-lg-9">
              <input
                type="text"
                name="occupation"
                id="occupation"
                class="form-control"
                placeholder="Occupation"
              />
            </div>
          </div>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-12 col-lg-3">
              <label for="country" class="col-form-label">
                Country of Resisdence</label
              >
            </div>
            <div class="col-12 col-lg-9">
              <select class="form-control" name="country" id="country">
                <option value="">Select Country of Resisdence</option>
                <option value="India">India</option>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United Arab Emirates">
                  United Arab Emirates
                </option>
                <option value="Canada">Canada</option>
                <option value="Australia">Australia</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Saudi Arabia">Saudi Arabia</option>
                <option value="Kuwait">Kuwait</option>
                <option value="South Africa">South Africa</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Belize">Belize</option>
                <option value="Benin">Benin</option>
                <option value="Bermuda">Bermuda</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bosnia and Herzegovi">
                  Bosnia and Herzegovi
                </option>
                <option value="Botswana">Botswana</option>
                <option value="Brazil">Brazil</option>
                <option value="Brunei Darussalam">Brunei Darussalam</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Cayman Islands">Cayman Islands</option>
                <option value="Central African Repu">
                  Central African Repu
                </option>
                <option value="Chad">Chad</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Christmas Island">Christmas Island</option>
                <option value="Cocos ">Cocos</option>
                <option value="Colombia">Colombia</option>
                <option value="Comoros">Comoros</option>
                <option value="Congo">Congo</option>
                <option value="Cook Islands">Cook Islands</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Croatia">Croatia</option>
                <option value="Cuba">Cuba</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Democratic Republic ">
                  Democratic Republic
                </option>
                <option value="Denmark">Denmark</option>
                <option value="Djibouti">Djibouti</option>
                <option value="Dominica">Dominica</option>
                <option value="Dominican Republic">Dominican Republic</option>
                <option value="East Timor">East Timor</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt ">Egypt</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Equatorial Guinea">Equatorial Guinea</option>
                <option value="Eritrea">Eritrea</option>
                <option value="Estonia ">Estonia</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Falkland Islands">Falkland Islands</option>
                <option value="Faroe Islands">Faroe Islands</option>
                <option value="Fiji">Fiji</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="French Guiana">French Guiana</option>
                <option value="French Polynesia">French Polynesia</option>
                <option value="French Southern Terr">
                  French Southern Terr
                </option>
                <option value="Gabon">Gabon</option>
                <option value="Gambia">Gambia</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany ">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Great Britain">Great Britain</option>
                <option value="Greece ">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Grenada">Grenada</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guinea">Guinea</option>
                <option value="Guinea-Bissau">Guinea-Bissau</option>
                <option value="Guyana">Guyana</option>
                <option value="Haiti">Haiti</option>
                <option value="Holy See">Holy See</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong Kong">Hong Kong</option>
                <option value="Hungary ">Hungary</option>
                <option value="Iceland ">Iceland</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran (Islamic Republic of)">
                  Iran (Islamic Republic of)
                </option>
                <option value="Iraq">Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Ivory Coast">Ivory Coast</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Kiribati">Kiribati</option>
                <option value="Kosovo">Kosovo</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Lao">Lao</option>
                <option value="Latvia ">Latvia</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Lesotho">Lesotho</option>
                <option value="Liberia">Liberia</option>
                <option value="Libya">Libya</option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Macau">Macau</option>
                <option value="Macedonia">Macedonia</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malawi">Malawi</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Mali">Mali</option>
                <option value="Malta">Malta</option>
                <option value="Marshall Islands">Marshall Islands</option>
                <option value="Martinique">Martinique</option>
                <option value="Mauritania">Mauritania</option>
                <option value="Mauritius">Mauritius</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Mexico">Mexico</option>
                <option value="Micronesia">Micronesia</option>
                <option value="Moldova">Moldova</option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Montenegro">Montenegro</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Morocco">Morocco</option>
                <option value="Mozambique">Mozambique</option>
                <option value="Myanmar, Burma">Myanmar, Burma</option>
                <option value="Namibia">Namibia</option>
                <option value="Nauru">Nauru</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Netherlands Antilles">
                  Netherlands Antilles
                </option>
                <option value="New Caledonia">New Caledonia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Niger">Niger</option>
                <option value="Nigeria">Nigeria</option>
                <option value="Niue">Niue</option>
                <option value="North Korea">North Korea</option>
                <option value="Northern Mariana Islands">
                  Northern Mariana Islands
                </option>
                <option value="Norway">Norway</option>
                <option value="Oman">Oman</option>
                <option value="Palau">Palau</option>
                <option value="Palestinian territories">
                  Palestinian territories
                </option>
                <option value="Panama">Panama</option>
                <option value="Papua New Guinea">Papua New Guinea</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Pitcairn Island">Pitcairn Island</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Reunion Island">Reunion Island</option>
                <option value="Romania">Romania</option>
                <option value="Russian Federation">Russian Federation</option>
                <option value="Rwanda">Rwanda</option>
                <option value="Saint Kitts and Nevis">
                  Saint Kitts and Nevis
                </option>
                <option value="Saint Lucia">Saint Lucia</option>
                <option value="Saint Vincent and the Grenadines">
                  Saint Vincent and the Grenadines
                </option>
                <option value="Samoa">Samoa</option>
                <option value="San Marino">San Marino</option>
                <option value="Sao Tome and Principe">
                  Sao Tome and Principe
                </option>
                <option value="Senegal">Senegal</option>
                <option value="Serbia">Serbia</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Slovakia (Slovak Republic)">
                  Slovakia (Slovak Republic)
                </option>
                <option value="Slovenia">Slovenia</option>
                <option value="Solomon Islands">Solomon Islands</option>
                <option value="Somalia">Somalia</option>
                <option value="South Korea">South Korea</option>
                <option value="South Sudan">South Sudan</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sudan">Sudan</option>
                <option value="Suriname">Suriname</option>
                <option value="Swaziland">Swaziland</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Taiwan (Republic of China)">
                  Taiwan (Republic of China)
                </option>
                <option value="Tajikistan">Tajikistan</option>
                <option value="Tanzania">Tanzania</option>
                <option value="Thailand">Thailand</option>
                <option value="Tibet">Tibet</option>
                <option value="Togo">Togo</option>
                <option value="Tokelau">Tokelau</option>
                <option value="Tonga">Tonga</option>
                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="Turkmenistan">Turkmenistan</option>
                <option value="Turks and Caicos Islands">
                  Turks and Caicos Islands
                </option>
                <option value="Tuvalu">Tuvalu</option>
                <option value="Uganda">Uganda</option>
                <option value="Ukraine">Ukraine</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Vatican City State (Holy See)">
                  Vatican City State (Holy See)
                </option>
                <option value="Venezuela">Venezuela</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Virgin Islands (British)">
                  Virgin Islands (British)
                </option>
                <option value="Virgin Islands (U.S.)">
                  Virgin Islands (U.S.)
                </option>
                <option value="Wallis and Futuna Islands">
                  Wallis and Futuna Islands
                </option>
                <option value="Western Sahara">Western Sahara</option>
                <option value="Yemen">Yemen</option>
                <option value="Zambia">Zambia</option>
                <option value="Zimbabwe">Zimbabwe</option>
                <option value="Akrotiri and Dhekelia">
                  Akrotiri and Dhekelia
                </option>
                <option value="Canada">Canada</option>
                <option value="Guernsey">Guernsey</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Saint Helena">Saint Helena</option>
                <option value="Saint Pierre and Miquelon">
                  Saint Pierre and Miquelon
                </option>
                <option value="San Marino">San Marino</option>
                <option value="Saudi Arabian">Saudi Arabian</option>
                <option value="Montenegro">Montenegro</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Suriname">Suriname</option>
                <option value="Svalbard">Svalbard</option>
                <option value="Syria">Syria</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Timor-Leste">Timor-Leste</option>
                <option value="United Arab Emirates">
                  United Arab Emirates
                </option>
                <option value="Saudi Arabia">Saudi Arabia</option>
              </select>
            </div>
          </div>
          <hr />
          <div class="row align-items-center justify-content-center mt-4">
            <button class="btn btn-danger">Update Preferences</button>
          </div>
        </form>
      </div>
    </main>
    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
