{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='/static/vivah/images/icons8-ganesha-64.png' type="image/x-icon">
    <title>Shubh Shaadi Vivah Profile Card</title>
    <meta name="author" content="Codeconvey"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" href="{% static 'profile/css/demo.css' %}"/>

    <link rel="stylesheet" href="{% static 'profile/css/style.css' %}">
    <style>
      #blur {
        font-size: 40px;
        color: transparent;
        text-shadow: 0 0 8px #000;
      }


    </style>
</head>
<body>

<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">

            <a href="/" title="ShubhShaadiVivah"><img alt="ShubhShaadiVivah"

                                                      src="{%  static  'vivah/img/SHADI.png' %}"></a>

        </div>
        <div class="col-rt-2">
            <ul>
                <li><a href="{% url 'product' %}" title="Back ">My Search</a></li>
            </ul>
        </div>
    </div>
</div>
<center><h1>My Profile - {{customers.user.id}} </h1></center>


<section>
    <div class="rt-container">
        <div class="col-rt-12">
            <div class="Scriptcontent">

                <!-- Student Profile -->
                <div class="student-profile py-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent text-center">
                                        <!---<img class="profile_img" src="https://source.unsplash.com/600x300/?student"
                                             alt="student dp">--->
                                        <img src="{{customers.img.url}}"
                                             onerror="this.onerror=null; this.src='/static/images/no_image.jpg'"
                                             alt="{{customers.user.id}}" onContextMenu="return false;"
                                             style="height: 200px; object-fit: contain;">
                                        <div id="blur"><h3>{{customers.user.username}}</h3></div>
                                    </div>
                                    <div class="card-body">

                                        <p class="mb-0"><strong class="pr-1">Age:</strong>{{customers.age}}</p>
                                        <p class="mb-0"><strong class="pr-1">Gender:</strong>{{customers.gender}} </p>
                                        <p class="mb-0"><strong class="pr-1">Height:</strong>{{customers.user.familyvalues.get_height_display}}
                                        </p>
                                        <p class="mb-0"><strong class="pr-1">Education:</strong>{{customers.get_education_display}}
                                        </p>
                                        <p class="mb-0"><strong class="pr-1">Employed:</strong>{{customers.user.familyvalues.employed|safe}}.
                                        </p>
                                        <p class="mb-0"><strong class="pr-1">Designation:</strong>{{customers.user.familyvalues.designation|safe}}.
                                        </p>
                                        <p class="mb-0"><strong class="pr-1">Annual Income &#8377;:</strong>
                                            {{customers.user.familyvalues.get_annualincome_display|safe}}.
                                        </p>

                                        <section id="services_home">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="register_left">
                                                        <video width="290" height="290" autoplay loop>
                                                            <source src="{{ customers.videofile.url  }}"
                                                                    type="video/mp4">
                                                        </video>

                                                          <img src="{{customers.img2.url}}"
                                             onerror="this.onerror=null; this.src='/static/vivah/img/no_image.jpg'"
                                             alt="{{customers.user.id}}" onContextMenu="return false;"
                                             style="height: 200px; object-fit: contain;"><hr>
                                                          <img src="{{customers.img3.url}}"
                                             onerror="this.onerror=null; this.src='/static/vivah/img/no_image.jpg'"
                                             alt="{{customers.user.id}}" onContextMenu="return false;"
                                             style="height: 200px; object-fit: contain;"><hr>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="{{customers.img1.url}}"
                                             onerror="this.onerror=null; this.src='/static/vivah/img/no_image.jpg'"
                                             alt="{{customers.user.id}}" onContextMenu="return false;"
                                             style="height: 200px; object-fit: contain;"><hr>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent border-0">
                                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th width="30%">Date Of Birth</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.birthday}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Martial Status</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.martialstatus}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Religion</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.religion}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Caste</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.caste}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Mother Tongue</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.languages}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Horoscope Match</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.horo}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Manglik</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.manglik}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Partner Search Preference</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.searchfor}}</td>
                                            </tr>
                                              <tr>
                                                <th width="30%">Smoke</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.get_smoke_display}}</td>
                                            </tr>
                                              <tr>
                                                <th width="30%">Diet</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.diet}}</td>
                                            </tr>
                                              <tr>
                                                <th width="30%">City</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.city}}</td>
                                                    <tr>
                                                <th width="30%">State</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.state}}</td>
                                            </tr>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div style="height: 26px"></div>
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent border-0">
                                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Myself in a nutshell</h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <p>{{customers.aboutus|safe}}.</p>
                                    </div>
                                </div>
                                <div style="height: 26px"></div>
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent border-0">
                                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>My ideal partner would be like
                                        </h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <p>{{customers.user.preferences.organization|safe}}.</p>
                                    </div>
                                </div>
                                <div style="height: 26px"></div>
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent border-0">
                                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>About My Family </h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <p>{{customers.user.familyvalues.aboutfamily|safe}}.</p>
                                    </div>
                                </div>
                                <div style="height: 26px"></div>
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent border-0">
                                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Awards And Certifications. [My
                                            Achievements In Life] </h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <p>{{customers.user.familyvalues.awards|safe}}.</p>
                                    </div>
                                </div>
                                 <div style="height: 26px"></div>


                                                            <div class="col-lg-8">
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent border-0">
                                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>My Life Partner Information</h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th width="30%">Min. Age</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.user.preferences.pagemin}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Max. Age</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.user.preferences.pagemax}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Martial Status</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.user.preferences.pmartialstatus}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Complexion</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.user.preferences.pcomplexion}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Religion</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.user.preferences.preligion}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Caste</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.user.preferences.pcaste}}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Education</th>
                                                <td width="2%">:</td>
                                                <td>{{customers.user.preferences.peducation}}</td>
                                            </tr>

                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- partial -->

            </div>
        </div>
    </div>
</section>


<!-- Analytics -->

</body>
</html>