@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  background-image: url('/static/vivah/images/stage.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  backdrop-filter: blur(0px);
}
nav {
  width: 100%;
  background-color: transparent;

  padding: 12px 6% !important;
}
.nav-item button {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
  outline: none !important;
}
.nav-item button:hover {
  text-decoration: underline;
  color: #fff;
  outline: none !important;
}
.nav-item button:focus,
.nav-item button:active {
  outline: none !important;
  box-shadow: none;
}
.collapse {
  flex-grow: unset !important;
}
a.navbar-brand {
  font-family: 'Courgette', cursive;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.row {
  background-color: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px gray;
  width: 100%;
}
.container {
  width: 90%;
  height: 65vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container > button {
  position: absolute !important;
  top: 2rem;
  right: 6rem;
  cursor: pointer;
}
img {
  border-radius: 30px 0px 0px 30px;
}
.img-fluid {
  height: 100%;
}
/* HomeSection CSS */
.home {
  height: 75vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.home h1 {
  font-size: 52px;
}
.home .btn.btn-home {
  background-color: #c22143;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
/* Media Queries */
@media only screen and (max-width: 768px) {
  img {
    border-radius: 30px 30px 0px 0px;
    display: none;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 75%;
    margin: 1.75rem auto;
  }
}
@media (max-width: 576px) {
  img {
    display: none;
  }
}
