#popUpMain{
    position: fixed;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    z-index: 1001;
}
#popup{
      width: 500px;
      height: 380px;
      background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) url('https://www.pexels.com/photo/silhouette-photo-of-woman-against-during-golden-hour-39853/');
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 2px 2px 5px 3px white;
      text-align: center;
}

#newHeading{
        transform: translateY(50px);
        color: white;
        font-family: 'Slabo 27px', serif;
}

#emailId{
        width: 60%;
        padding: 5px;
        margin-top: 80px;
        margin-bottom: 20px;
       font-family: 'Slabo 27px', serif;
}

.submitId{
        background-color: #0fc0fa;
        border:none;
        font-size: 2rem;
        padding: 0.6rem 1rem;
        color: white;
        font-family: 'Slabo 27px', serif;
}