{% load static %}
<style>
    ol.s {list-style-type: inherit;}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="notice col-xs-12">
    <h2><span>Notice</span> Board</h2>
    <div class="main-blog">
        <div class="card card-cascade card-ecommerce wider shadow  ">
            <div class="card bg-primary text-white">
                <div class="card-header"><h4>For Grooms</h4></div>
            </div>
            <article class="media content-section">
                <ul>
                    <li> How can I search for my match on ShubShaadiVivah?</li>
                    <hr>
                    <li> What should I do if I can't find suitable match?</li>
                    <hr>
                    <li>How can I post a  Request to get accurate match?</li>
                    <hr>
                    <li>How can I contact selected profile individual?</li>
                    <hr>
                    <li>Can ShubhShaadiVivah recommend specific match to me?</li>
                </ul>
            </article>
        </div>
        <div class="card card-cascade card-ecommerce wider shadow  ">
            <div class="card bg-primary text-white">
                <div class="card-header"><h4>For Brides</h4></div>
            </div>
            <article class="media content-section">
                <ul>
                    <li> Updating your Profile</li>
                    <hr>
                    <li> Listing &amp; Managing Your Dashboard</li>
                    <hr>
                    <li> In addition to waiting for the selected profile to send me an inquiry, where can I take the initiative to
                        find more matching profiles?
                    </li>
                    <hr>
                    <li> How many requests I can post?</li>
                    <hr>
                    <li> What benefits I will get as a premium member?</li>
                    <hr>
                    <li> Exploring More Offers</li>
                </ul>
            </article>
                         <img src="{% static 'vivah/img/home_register_bg.jpg' %}" width="100%">
        </div>
    </div>
</div>
