 <style>
    ol.s {list-style-type: inherit;}



</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container">
    <div class="card bg-primary text-white">
        <div class="card-header"><h4>Tips</h4></div>
    </div>
    <div class="card card-cascade card-ecommerce wider shadow  ">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#home">Grrom</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#menu1">Bride</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>

                <h5>Buyers Tip</h5>
                <ol class="s">
                    <li>Selection of appropriate key words at the time of making your profile can make it easier for
                        people to search your requirements.
                    </li>
                    <li>Subscribe to your interested Profile Alert and you will get emails with the latest
                        profile information periodically.
                    </li>
                </ol>

            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <h5>Suppliers Tip</h5>
                <ol class="s">
                    <li>Display your profile pictures and videos, and increase the opportunity to attain genuine inquiries
                        .
                    </li>
                    <li>You need to be very selective and appropriate in case of choosing the profile description and contents.
                        . Select
                        the
                        combination of (generic + specific keywords) to make it easily searchable .
                    </li>

                </ol>
            </div>
        </div>
    </div>
</div>
