{% load static %}
{% static "images" as baseUrl %}
{% load crispy_forms_tags %}

<!DOCTYPE html>

<html lang="en">
<meta name="robots" content="noindex" />


{% block content %}
   <style>
      .center {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      }
   </style>
{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">
        ×
    </button>
    <strong>
      <h2> {{message}}</h2>
    </strong>
</div>
{% endfor %}
{% endif %}
          <img class="img-responsive" src="{% static 'vivah/img/SHADI.png' %}">
 <div class="container" style="width: 100%; background-color: #40e3ac; border-radius:5px; padding: 30px;">
      <h3>
         Password changed successfully.<i class="fas fa-check-circle"></i>
      </h3>
      <h4>
         <a href="{% url 'faq' %}">
            FAQ
         </a>
      </h4>
 </div>
<div class="col-sm-6">
    <div class="top_right clearfix text-right">
                        <span class="span_1"><i class="fa fa-phone-square"></i>
                                    <a href="tel:+919075445588"><strong>HelpLine:-+91-9075445588    </strong></a>  </span>
        <span class="span_2"><i class="fa fa-whatsapp"></i>
                            <a href="https://wa.me/917013451914"><strong>+91-7013451914</strong></a></span>
        </span>
    </div>
</div>
{% endblock %}