{% extends "vivah/base.html" %}
{% load static %}
{% block title %}Services{% endblock %}
{% block meta_description %}About Us {% endblock %}
{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">


<div class="about_main clearfix">
    <section id="about">
        <img src="{% static 'vivah/img/t14.jpg' %}" width="100%">
    </section>
    <section id="about_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
    <section id="about_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
</div>

<section id="about_heading_main" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_heading_main_1">
                    <h5><a href="/">Home</a> <span>//</span> About Us</h5>
                    <h1>About <span> Us</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about_inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 space_all">
                <div class="col-sm-6 space_all">
                    <div class="about_1">
                        <h2>Bringing Families Together</h2>
                    </div>
                </div>
                <div class="col-sm-6 space_all">
                    <div class="about_2">
                        <p><a href="#"><i class="fa fa-instagram"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 space_all">
                <div class="about_3">
                    <h4>ShubhShaadiVivah.com by</br>
                        SHREE BHAVANI SHANKAR SANATAN DHARM MATRIMONY </h4>
                </div>
                <div class="col-sm-9">
                    <div class="about_4">

                        <p class="xlarge lh17em dark mb30px i"><span
                                style="font-size:80px;line-height:0.6em;opacity:0.8">&#10077;</span>
                            </i></p>
                        <p class="xlarge lh17em gray mb30px i">Welcome to the profound world of ShubhShaadiVivah.com one
                            of the most frequently visited and highly
                            preferred matrimonial site. Providing an ample database of profiles, we are immensely known
                            for the perfect matchmaking, handy navigation and commendable services. With the help of
                            our unmatched quality services, we have been able to establish ourselves among the foremost
                            players in the field of Indian Matrimonial. So feel free to search for prospective bride or
                            bridegroom on the basis of mother tongue, country, religion, caste, occupation etc. from the
                            immense database of profiles.</p>


                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="about_5">
                        <p><a href="#"><img src="{% static 'vivah/img/h01.jpg' %}"></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="about_last">
                    <h1><span>Our</span> Team Unity!</h1>
                    <p></p>
                </div>
            </div>

            <!-- Team Container -->
            <div class="w3-container w3-padding-64 w3-center" id="team">
                <div class="w3-row"><br>
                    <div class="w3-quarter">
                        <div class="container">
                            <img src="{% static 'vivah/img/t01.png' %}" alt="Boss" style="width:45%"
                                 class="w3-circle w3-hover-opacity">
                            <p><strong>SMT. RAM KAMALA BHIKAM SINGH</strong></p>
                            <p>Founder & Owner</p>
                            <h4 style="color: #731768;"><p>67 young, dynamic entrepreneur with a future vision,determined and ambitious.   </p>
                                <p>“My biggest motivation? Just to keep challenging myself. I see life almost like one
                                    long University education that I never had — every day I’m learning something
                                    new.”</p></h4>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="w3-row"><br>
                    <div class="w3-quarter">
                        <img src="{% static 'vivah/img/t02.png' %}" alt="Boss" style="width:45%" height="100"
                             class="w3-circle w3-hover-opacity">
                        <p><strong>RAJARAM CHAVAN </strong></p>
                        <p>Head Of Operations</p>
                        <h4><p style="background-color:Tomato;">51 Years young, dynamic, post graduate , working as
                            senoir manager in leading Bajaj Showroom. Expert in Team Building. </p></h4>
                    </div>

                    <div class="w3-quarter">
                        <img src="{% static 'vivah/img/t03.png' %}" alt="Boss" style="width:45%" height="100"
                             class="w3-circle w3-hover-opacity">
                        <p><strong>RAM SHANKAR SINGH </strong></p>
                        <p>Team Member</p>
                        <h4><p style="background-color:DodgerBlue;">49 years young dynamic personality, eastablished
                            my own
                            business successfully for many years.Expert in organising events. </p></h4>
                    </div>

                    <div class="w3-quarter">
                        <img src="{% static 'vivah/img/t04.jpg' %}" alt="Boss" style="width:45%" height="100"
                             class="w3-circle w3-hover-opacity">
                        <p><strong>Mrs CHAUHAN </strong></p>
                        <p>Team Member</p>
                        <h4><p style="background-color:Tomato;">48 years young dynamic business woman. Expert in
                            social activity and advertisement. Always learning new skills.</p></h4>
                    </div>
                    <div class="w3-quarter">
                        <img src="{% static 'vivah/img/t05.jpg' %}" alt="Boss" style="width:45%" height="100"
                             class="w3-circle w3-hover-opacity">
                        <p><strong>RAM GAJENENDER SINGH</strong></p>
                        <p>Team Member</p>
                        <h4><p style="background-color:DodgerBlue;">Working in Indian Postal Department and having
                            experience in logistic and media realted works. Always learning new skills.</p></h4>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-padding-64 w3-center" id="team">
                <div class="w3-row"><br>
                    <div class="w3-quarter">
                        <img src="{% static 'vivah/img/t12.png' %}" alt="Boss" style="width:45%" height="100"
                             class="w3-circle w3-hover-opacity">
                        <p><strong>PRATHMESH CHAVAN </strong></p>
                        <p>Team Member</p>
                        <h4><p style="background-color:Tomato;">21 Years young, dynamic, graduate , youth icon.
                            Expert in
                            Team Building. Well versed with latest communication technology.</p></h4>
                    </div>

                    <div class="w3-quarter">
                        <img src="{% static 'vivah/img/t11.jpg' %}" alt="Boss" style="width:45%" height="100"
                             class="w3-circle w3-hover-opacity">
                        <p><strong>RAM RUDRAKSHA THAKUR </strong></p>
                        <p>Team Member</p>
                        <h4><p style="background-color:DodgerBlue;">Young dynamic Student. Organizing events in
                            collages
                            and active on social media. Expert in organising events and meetings. </p></h4>
                    </div>

                    <div class="w3-quarter">
                        <img src="{% static 'vivah/img/t08.png' %}" alt="Boss" style="width:45%" height="100"
                             class="w3-circle w3-hover-opacity">
                        <p><strong>RAM DIVYA THAKUR</strong></p>
                        <p>Team Member</p>
                        <h4><p style="background-color:Tomato;">

                            35 years dynamic business woman, teacher as a professional. Expert in team leadership and
                            communications.
                        </p></h4>
                    </div>
                    <div class="w3-quarter">
                        <img src="{% static 'vivah/img/t06.png' %}" alt="Boss" style="width:45%" height="100"
                             class="w3-circle w3-hover-opacity">
                        <p><strong>RAM MAHESH SINGH</strong></p>
                        <p>Team Member</p>
                        <h4><p style="background-color:DodgerBlue;">Working in Indian Postal Department and having
                            experience in logistic and media realted works. Always learning new skills.</p></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-container w3-padding-64 w3-center" id="team">
            <div class="w3-row"><br>
                <div class="w3-quarter">
                    <img src="{% static 'vivah/img/t07.jpg' %}" alt="Boss" style="width:45%" height="100"
                         class="w3-circle w3-hover-opacity">
                    <p><strong>RAM JITENDER SINGH</strong></p>
                    <p>Team Member</p>
                    <h4><p style="background-color:Tomato;">

                        A designer as a professional and have 15 years of experience in
                        HVAC field, currently as assitant manager in MNC. </p></h4>
                </div>
                <div class="w3-quarter">
                    <img src="{% static 'vivah/img/t15.jpg' %}" alt="Boss" style="width:45%" height="100"
                         class="w3-circle w3-hover-opacity">
                    <p><strong>RAM KRISHNA SINGH</strong></p>
                    <p>Team Member</p>
                    <h4><p style="background-color:DodgerBlue;">

                        Student a budding engineer, B.Tech - Civil. I am always energetic and eager for new techonology
                        and
                        skills. Expert in communication skills.</p></h4>
                </div>
                <div class="w3-quarter">
                    <img src="{% static 'vivah/img/t16.png' %}" alt="Boss" style="width:45%" height="100"
                         class="w3-circle w3-hover-opacity">
                    <p><strong>RAM SAIRAM SNGH</strong></p>
                    <p>Team Member</p>
                    <h4><p style="background-color:Tomato;">
                        21 year young and dynamic youth icon with
                        Diploma in Mechanical engineering. Expert in team leadership and
                        communications.</p></h4>
                </div>
                <div class="w3-quarter">
                    <img src="{% static 'vivah/img/t17.png' %}" alt="Boss" style="width:45%" height="100"
                         class="w3-circle w3-hover-opacity">
                    <p><strong>RAM SANTOSH SINGH</strong></p>
                    <p>Team Member</p>
                    <h4><p style="background-color:DodgerBlue;">
                        23 year young and dynamic youth icon with
                        Mechanical Engineering degree. Experience as site engineer in MNC.
                    </p></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="about_4">
                <p>In order to expand our growth further, our team of dedicated and proficient professionals has brought
                    innovative technologies, improved user friendly navigation and cooperative approach in our day to
                    day functioning. We use some of the ultra-modern and commendable technologies to facilitate
                    efficient as well as agile search. Furthermore all the necessary steps are taken in order to ensure
                    that the searches result in concrete and best suited profiles only. So if you are seeking a life
                    partner for yourself or for some other person in the social circle than ShubhShaadiVivah.com will
                    serve your purpose in optimum manner.</p>

            </div>
        </div>
    </div>
    </div>
</section>
<section id="about_middle">
    <div class="container">
        <div class="row">
            <div class="about_middle clearfix">
                <div class="col-sm-10">
                    <div class="about_middle_left clearfix">
                        <h3>Why We Are ?</h3>
                        <h2>Best Matrimony Website</h2>
                        <hr>
                        <p> ShubhShaadiVivah is a matrimonial website with a difference. We understand how special
                            Indian
                            weddings are. We understand the Indian bride and the Indian groom, we understand how your
                            partner search is different and special. We are committed to supporting your search for your
                            soulmate. We are a platform of like minded families, a community bound by its commonalities.
                            We understand that just as the bride and groom are searching for their perfect other half,
                            so are their families. A common value. A common belief. A common need. We are committed to
                            that something special that defines Indian marriages, we are where families find each
                            other..</p>
                        <br>
                        <p>Welcome to the fastest growing matrimonial website, which dedicates itself to finding your
                            perfect partner. Welcome to the platform through which already hundreds of thousands of them
                            have sought relationships, found them, and committed themselves to them.</p>
                        <br>
                        <p>Where you’ll find an easy-to-use interface, an authenticated database, user-friendly online
                            matching tools, and a built-in horoscope generator.
                        <p>
                            <br>
                        <p> Plus of course, high-safety features that protect your privacy and security during the
                            entire partner search.
                        <p>
                            <br>
                            Welcome to an unmatched pleasure of match-making.
                            <br><br>
                            Welcome to ShubhShadiVivah.com.
                        </p>
                        <br><br><br><br>
                        <br><br><br><br><br><br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-----
<section id="about_last">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_last">
                    <h1><span>Our</span> Team Unity!</h1>
                    <p>Vestibulum lacinia arcu eget nulla taciti sociosqu ad litora torquent.</p>
                </div>
            </div>
            <div class="team col-sm-12  clearfix">

                <div class="col-sm-3 ">
                    <div class="team_1 clearfix">
                        <div class="grid clearfix">
                            <figure class="effect-jazz">
                                <img src="{% static 'vivah/img/t17.png' %}" alt="img25" style="width:100%" height="200">

                            </figure>

                        </div>
                    </div>
                    <div class="team_inner clearfix text-center">
                        <h3>RAM SANTOSH SINGH</h3>
                        <h4>Member</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team_1 clearfix">
                        <div class="grid clearfix">
                            <figure class="effect-jazz">
                                <img src="{% static  'vivah/img/t16.png' %}" alt="img25" style="width:100%" height="200">
                            </figure>

                        </div>
                    </div>
                    <div class="team_inner clearfix text-center">
                        <h3>RAM SAIRAM SNGH</h3>
                        <h4>Member</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team_1 clearfix">
                        <div class="grid clearfix">
                            <figure class="effect-jazz">
                                <img src="{% static  'vivah/img/t15.jpg' %}" alt="img25" style="width:100%" height="200">
                            </figure>

                        </div>
                    </div>
                    <div class="team_inner clearfix text-center">
                        <h3>RAM KRISHNA SINGH</h3>
                        <h4>Member</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team_1 clearfix">
                        <div class="grid clearfix">
                            <figure class="effect-jazz">
                                <img src="{% static 'vivah/img/t11.jpg' %}" alt="img25" style="width:100%" height="200">
                            </figure>
                        </div>
                    </div>
                    <div class="team_inner clearfix text-center">
                        <h3>RAM RUDRAKSHA THAKUR</h3>
                        <h4>Member</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
----->

<div class="footer_main clearfix">
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="footer clearfix">
                    <div class="col-sm-3">
                        <div class="footer_left">
                            <!---<img src="img/32.png">---->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer_right">
                            <p>
                                <a href="#">Home</a>
                                <a href="#">About Us</a>
                                <a href="#">Services</a>
                                <a href="#">Register</a>
                                <a href="#">Contact Us</a>
                            </p>
                            <div class="footer_right_inner clearfix">
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_left">
                            <!----<img src="img/52.png">--->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </script>

</div>


{% endblock %}