{% load static %}
<section>
    <br>
    <hr>

    <div class="services_home clearfix">
        <h2 class="text-center"><i class="fa fa-arrows-h"></i></h2></div>
    <div class="arrange">
        <center><h1 class="text-center"><span>Bank</span>Details</h1></center>
    </div>
    <div class="col-lg-5 col-lg-offset-1">
        <div class="contact_main">
            <center><a href="#"><img src="{% static 'vivah/img/BANK.png' %}"></a></center>
        </div>

            <br><br><br><br><br><br><br>
        </div>
    </div>
</section>