<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Privacy Policy - ShubhShaadiVivah.com</title>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-16625285-7', 'auto');
ga('send', 'pageview');





    </script>
</head>
<body>
<div id="body">
    <div style="height:2px;">&nbsp;</div>
    <script type="text/javascript">
	var persistclose=0 //set 0 or 1. 1 means it closed for browser session
	var startX = 20 //set x offset of bar in pixels
	var startY = 70 //set y offset of bar in pixels
	var verticalpos="frombottom" // "fromtop" or "frombottom"
	var id_name ="notification_1"
	var ti_alignment = "right"





    </script>
    <div id="cBlur_id" class="plr"><!--padding div start-->
        <p class="cb"></p>
        <br>
        <br>
        <div class="heading pb5px bdrB mb2px">
             <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="about_heading">
                        <h5><a href="\">Home</a> <span>//</span>Disclaimer</h5>

                    </div>
                </div>
            </div>
        </div>
            <h1>Disclaimer - ShubhShaadiVivah.com</h1>
        </div>
        <ul class="fo ac-fl ac-mr5px mt5px mb15px ffrr" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <meta itemprop="position" content="1">
                <a href="\" itemprop="item" title="ShubhShaadiVivah"
                   class="graydark"><b class="icon-home large vam"></b> <span itemprop="name">Home</span> </a></li>
            <li class="dul"><b class="xsmall ffv">»</b> Disclaimer - ShubhShaadiVivah.com</li>
        </ul>
        <a name="top"></a>
        <p class="aj">
            The website, <a href="\">www.shubhshaadivivah.com</a> /
            shubhshaadivivah.Com ("Site") is an electronic web based platform for exploring opportunities and enhancing
            outreach using the online search and other tools available for the prospective brides and prospective
            grooms. It
            is owned and managed by SHREE BHAVANI SHANKAR SANATAN DHARM MATRIMONY with its registered office at
            8GMP+928, Janardhan Reddy Nagar,Midhani Colony, New Gayatri Nagar,Medbowli, Telangana 500097, India
            <br><br>
            ShubhShaadiVivah is a virtual marriage bureau, providing free service to bride and bride-grooms world-wide.
            It is owned and
            managed by SHREE BHAVANI SHANKAR SANATAN DHARM MATRIMONY is a synonym of one for all. Since the nascent
            phase of SHREE
            BHAVANI SHANKAR SANATAN DHARM MATRIMONY, we had always considered "CUSTOMER A KING" and owing to our
            meticulous follow up of the same we have
            a long list of satisfied customers boosting our backs. <br>
            <br>
            Though we attempt to make all the information on this site as accurate as possible yet it does not guarantee
            the accuracy of the same. Any information or assertion which is a part of the matrimonial listings, or any
            other content on the website has not been vetted, screened, endorsed, or investigated, by
            ShubhShaadiVivah.com nor does it in any manner whatsoever certify, guarantee or attest the same to be
            authentic or correct. It does not recommend matches and profiles in any manner. All due diligence efforts
            and initiatives must be exercised by those wishing to use any information found on the website, and they
            should take adequate precautions with the full and complete knowledge that all information contained in the
            matrimonial listings have been placed there directly by visitors on the website without any prior
            intimation, consent or verification of or by ShubhShaadiVivah.com. <br>
            <br>
            ShubhShaadiVivah.com - is intended only to serve as a preliminary medium of contact and information and
            does not portray itself as a marriage or business bureau and does not, in any manner whatsoever, monitor the
            first or subsequent contacts, introductions and/or interactions which may be caused due to any information
            specified in its contents. <br>
            <br>
            It is to be made very clear that any advice, counseling, recommendations or information provided at
            ShubhShaadiVivah.com may not necessarily be correct, true or reliable, and that any reliance placed thereon
            and any action taken on the basis of the same shall be solely and entirely at the risk of the person or
            persons placing such reliance or taking such reliance or taking advantage of, at their own initiative, cost
            and effort. ShubhShaadiVivah.com cannot be held responsible or liable, in any manner whatsoever, in respect
            of any reliance placed on any information placed on this website, since it serves merely to act as indicator
            of the general scenario in the related behalf. <br>
            <br>
            The contents at ShubhShaadiVivah.com are neither intended nor meant to induce or persuade or convince or
            invite any person whatsoever to perform any action or do any such thing, or not do the same, where such
            performance or doing, or non-performance or not doing, constitute any contravention of any law or regulation
            in force for the time being to which such person or action may be subject. <br>
            <br>
            ShubhShaadiVivah.com reserves the absolute right to modify or amend or delete, in any manner as it deems
            fit, any contents of any matrimonial listing placed on ShubhShaadiVivah.com in order to ensure compliance
            with the rules of such placement (which may include, without intimation, the efforts and initiatives by
            ShubhShaadiVivah.com to maximize response to matrimonial listings), prima facie accuracy and the prevailing
            laws i force for the time being, especially those relating to prohibition of any improper, indecent,
            unlawful or obscene content. <br>
            <br>
            By listing a matrimonial profile, or a business or personal listing or a link, or any content or listing, on
            ShubhShaadiVivah.com, the person or persons making or posting such listing, and the person or persons
            responsible for such posting or listing, shall be deemed to have agreed to hold ShubhShaadiVivah.com
            harmless and protected against any suit or plaint, civil, pecuniary or criminal, and against any claims or
            damages (including, without limitation, interests, fines and penalties) which may be brought against or
            levied on ShubhShaadiVivah.com on account of any matter arising out of, or relating to such posting or
            listing. <br>
            <br>
            ShubhShaadiVivah.com hereby specifically disclaims any liabilities or warranties or guarantees, express,
            specific or implied, which may be attributable, in any manner whatsoever, to the existence, promotion,
            canvassing, contents, links, information or discontinuance of ShubhShaadiVivah.com. No claims for damages,
            restitution, loss-of-profits, or any other pecuniary, civil or criminal plaints, which may be said to arise
            out, or on account, of any matter contained or related to ShubhShaadiVivah.com, shall lie or be deemed to
            be sustainable against ShubhShaadiVivah.com. <br>
            <br>
            ShubhShaadiVivah.com considers and intends to be subject only to the applicable laws in force for the time
            being at Telangana and to the jurisdiction of courts located in Telangana alone. <br>
            <br>
            You should access and view the contents of this website only if you wish to agree with all the content
            stated above and ensuring that you are fully aware of all the terms and conditions. <br>
            <br>
            We hope you are able to make full use of every facility and service provided by the site to your advantage.
            We wish you the very best in your endeavor and hope that you meet with success in the same.</p>
        <br>
        <p class="blue b large u mb5px">Payment and Refund Issue :</p>

        <p class="aj">All payments for services at <b>ShubhShaadiVivah.com</b> have to be made in favour of <b>" SHREE
            BHAVANI SHANKAR SANATAN DHARM MATRIMONY "</b> only. We have not authorized any individual or organization to
            collect payments in any
            other name (i.e. any other individual or organization name) or via personal Western Union or personal Paypal
            Accounts for any services rendered by ShubhShaadiVivah.com. You are informed that under no circumstances
            will ShubhShaadiVivah.com be liable for any damage caused in your business transaction to such fraudulent
            individuals or organizations. <br><br>
            To protect your business interests, please contact us immediately if any such fraudulent individual or
            organization tries to mislead you.</p>

    </div>
    <p class="cb"></p>
</div>
<!--body id end-->
<hr>

<section id="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="footer_bottom clearfix">
                <div class="col-sm-5">
                    <div class="footer_bottom_left">
                        <p><i class="fa fa-phone-square"></i> +91-9075445588
                            <i class="fa fa-whatsapp"></i> +91-7013451914</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="footer_bottom_left">
                        <p> © 2021 ShubhShaadiVivah.com. All Rights Reserved | Design by <a
                                href="https://vits.herokuapp.com/">Varun Incorporate</a></p>
                    </div>
                    <div class="footer_bottom_left">
                        <p>This website is strictly for matrimonial purpose only and not a dating website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

