{% load static %}
<style>
   /* COMPACT CAPTCHA SILVER */

.capbox {
	background-color: #C0C0C0;
	background-image: linear-gradient(#F0F0F0, #666666);
	border: #000000 0px solid;
	border-width: 2px 2px 2px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 5px 8px 5px 8px;
	border-radius: 4px 4px 4px 4px;
	}

.capbox-inner {
	font: bold 12px arial, sans-serif;
	color: #000000;
	background: #C0C0C0;
	background:rgba(255,255,255,0.60); /* SEMI TRANSPARENT BACKGROUND */
	margin: 0px auto 0px auto;
	padding: 3px 10px 5px 10px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	}

#CaptchaDiv {
	color: #FFFFFF;
	font: normal 25px Impact, Charcoal, arial, sans-serif;
	font-style: italic;
	text-align: center;
	vertical-align: middle;
	background-color: #3366FF;
	user-select: none;
	display: inline-block;
	padding: 3px 14px 3px 8px;
	margin-right: 4px;
	border-radius: 4px;
	}

#CaptchaInput {
	border: #999999 1px solid;
	margin: 3px 0px 1px 0px;
	width: 105px;
	}
</style>


<section id="register1" class="clearfix">
    <form method="POST" action="{% url 'handlesignup' %}"  onsubmit="return checkform(this);">
        {% csrf_token %}
        <div class="register clearfix">
            <div class="col-sm-5 space_left">
                <div class="register_left">
                    <div class="card-image"><img src="{% static 'vivah/img/482.jpg' %}" width="100%"></div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="register_right">
                    <div class="arrange">
                         <center><h1 class="text-center"><span>Sign</span>Up</h1></center>
                    </div>
                    <div class="register_right_inner clearfix">
                        <div class="clearfix clear_1">
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="text" class="form-control" placeholder="Enter your User Name *"
                                       required name="uname" id="uname"
                                       data-validation-required-message="Please enter your User Name">
                            </div>
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <select class="form-control" name="MartialStatus" id="MartialStatus" required>
                                    <option value="Marital Status">Marital Status</option>
                                    <option value="married">Married</option>
                                    <option value="single">Single</option>
                                    <option value="divorced">Divorced</option>
                                    <option value="widowed">Widowed</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="text" class="form-control" placeholder="First Name *"
                                       required="" name="fname" id="fname"
                                       data-validation-required-message="Please enter your first name."
                                >
                            </div>
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="text" class="form-control" placeholder="Last Name *"
                                       required="" name="lname" id="lname"
                                       data-validation-required-message="Please enter your last name."
                                >
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="email" class="form-control" placeholder="Email *"
                                       required="" name="email" id="email"
                                       data-validation-required-message="Please enter your email">
                            </div>
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="text" class="form-control" placeholder="Mobile *"
                                       required="" name="mobile" id="mobile"
                                       data-validation-required-message="Please enter your mobile.">
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <select class="form-control" name="State" id="State">
                                    <option value=""> --State--</option>
                                    <option value="Andaman And Nicobar">Andaman And Nicobar</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh (UT)">Chandigarh (UT)</option>
                                    <option value="Chattisgarh">Chattisgarh</option>
                                    <option value="Dadra And Nagar Haveli">Dadra And Nagar Haveli</option>
                                    <option value="Daman And Diu (UT)">Daman And Diu (UT)</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu And Kashmir">Jammu And Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Orissa">Orissa</option>
                                    <option value="Pondicherry(UT)">Pondicherry(UT)</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tamilnadu">Tamilnadu</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttranchal">Uttranchal</option>
                                    <option value="West Bengal">West Bengal</option>
                                </select>
                            </div>
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="date" class="form-control" name="dob" id="dob"  placeholder="dd-mm-yyyy" value=""
        min="1907-01-01" max="2030-12-31">
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <select class="form-control" name="SearchFor" id="SearchFor">
                                    <option>Search For</option>
                                    <option value="Religion">Tamil</option>
                                    <option value="Hindu">Hindu</option>
                                    <option value="Muslim - Shia">Muslim - Shia</option>
                                    <option value="Muslim - Sunni">Muslim - Sunni</option>
                                    <option value="Muslim - Others">Muslim - Others</option>
                                    <option value="Christian">Christian</option>
                                    <option value="Sikh">Sikh</option>
                                    <option value="Jain - Digambar">Jain - Digambar</option>
                                    <option value="Jain - Shwetambar">Jain - Shwetambar</option>
                                    <option value="Jain - Others">Jain - Others</option>
                                    <option value="Parsi">Parsi</option>
                                    <option value="Buddhist">Buddhist</option>
                                    <option value="Inter-Religion">Inter-Religion</option>

                                </select>
                            </div>
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <select class="form-control" name="Religion" id="Religion">
                                    <option value="Religion">Religion</option>
                                    <option value="Hindu">Hindu</option>
                                    <option value="Muslim - Shia">Muslim - Shia</option>
                                    <option value="Muslim - Sunni">Muslim - Sunni</option>
                                    <option value="Muslim - Others">Muslim - Others</option>
                                    <option value="Christian">Christian</option>
                                    <option value="Sikh">Sikh</option>
                                    <option value="Jain - Digambar">Jain - Digambar</option>
                                    <option value="Jain - Shwetambar">Jain - Shwetambar</option>
                                    <option value="Jain - Others">Jain - Others</option>
                                    <option value="Parsi">Parsi</option>
                                    <option value="Buddhist">Buddhist</option>
                                    <option value="Inter-Religion">Inter-Religion</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="text" class="form-control" name="caste" id="caste" placeholder="Caste">
                            </div>
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <select class="form-control" name="gender" id="gender">
                                    <option value="Gender">Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="clearfix clear_1">
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="password" class="form-control" placeholder="Choose a password"
                                       required name="password1" id="password1"
                                       data-validation-required-message="Please enter your password."
                                >
                            </div>
                            <div class="col-sm-6 register_right_inner_1 space_left">
                                <input type="password" class="form-control" placeholder="Retype your password"
                                       required name="password2" id="password2"
                                       data-validation-required-message="Please re-enter your password"
                                >
                            </div>
                        </div>
                        <div class="clearfix clear_1">
                            <!-- START CAPTCHA -->
                            <br>
                            <div class="capbox">

                                <div id="CaptchaDiv"></div>

                                <div class="capbox-inner">
                                    Type the number:<br>

                                    <input type="hidden" id="txtCaptcha">
                                    <input type="text" name="CaptchaInput" id="CaptchaInput" size="10"><br>

                                </div>
                            </div>
                            <br><br>
                            <!-- END CAPTCHA -->

                        </div>


                        <div class="clearfix col-sm-12 clear_2">
                            <h3><input type="submit" value="SUBMIT" class="subbutx3"><br></h3>
                        </div>


                    </div>
                </div>
            </div>
    </form>
</section>

<script type="text/javascript">

// Captcha Script

function checkform(theform){
var why = "";

if(theform.CaptchaInput.value == ""){
why += "- Please Enter CAPTCHA Code.\n";
}
if(theform.CaptchaInput.value != ""){
if(ValidCaptcha(theform.CaptchaInput.value) == false){
why += "- The CAPTCHA Code Does Not Match.\n";
}
}
if(why != ""){
alert(why);
return false;
}
}

var a = Math.ceil(Math.random() * 9)+ '';
var b = Math.ceil(Math.random() * 9)+ '';
var c = Math.ceil(Math.random() * 9)+ '';
var d = Math.ceil(Math.random() * 9)+ '';
var e = Math.ceil(Math.random() * 9)+ '';

var code = a + b + c + d + e;
document.getElementById("txtCaptcha").value = code;
document.getElementById("CaptchaDiv").innerHTML = code;

// Validate input against the generated number
function ValidCaptcha(){
var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
var str2 = removeSpaces(document.getElementById('CaptchaInput').value);
if (str1 == str2){
return true;
}else{
return false;
}
}

// Remove the spaces from the entered and generated code
function removeSpaces(string){
return string.split(' ').join('');
}











</script>


