{% load static %}
<div class="contact_home_main clearfix">


    <section id="contact1_home">
        <form method="POST" action="homeellite" onsubmit="return checkform(this);">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="services_home clearfix">
                            <a href="{% url 'ellite' %}"> <h1 class="text-center"><span>Royall</span> Services</h1><br>
                            <center><h3>Exclusive matchmaking service
                                for the elite</h3></center></a>
                            <br>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact_home_1 clearfix">
                                <div class="col-sm-6">
                                    <div class="contact_home_1_inner">
                                        <input type="text" class="form-control" placeholder="First name *"
                                               required=""
                                               data-validation-required-message="Please enter your first name."
                                        >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="contact_home_1_inner">
                                        <input type="text" class="form-control" placeholder="Last name *"
                                               required=""
                                               data-validation-required-message="Please enter your last name.">
                                    </div>
                                </div>
                            </div>
                            <div class="contact_home_1 clearfix">
                                <div class="col-sm-6">
                                    <div class="contact_home_1_inner">
                                        <input type="email" class="form-control" placeholder="Email *"
                                               required=""
                                               data-validation-required-message="Please enter your email.">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="contact_home_1_inner">
                                        <input type="text" class="form-control" placeholder="Mobile *"
                                               required=""
                                               data-validation-required-message="Please enter your mobile.">
                                    </div>
                                </div>
                            </div>
                            <div class="contact_home_1 clearfix">
                                <div class="col-sm-6">
                                    <div class="contact_home_1_inner">
                                        <input type="text" class="form-control" placeholder="Location *"
                                               required=""
                                               data-validation-required-message="Please enter your location.">
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                </div>
                                <div class="contact_home_2 col-sm-12 clearfix">
                                    <textarea class="form-control" placeholder="Describe Your Details"
                                              required=""
                                              data-validation-required-message="Please enter your details."></textarea>
                                </div>
                                <div class="contact_home_2 col-sm-12 clearfix">
                                    <div class="g-recaptcha" data-callback="recaptchaCallback"
                                         data-sitekey="6Ld0N3wcAAAAAHHxBYv_044U5W4Gqp6nfA2yGF89"></div>
                                    <br/>
                                </div>
                                <div class="contact_home_2 col-sm-12 clearfix">
                                    <h3><input id="submitBtn" type="submit" disabled="disabled" value="SUBMIT"
                                               class="subbutx3"><br></h3>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="contact_home_3">
                                <a href="{% url 'ellite' %}"><img src="{% static 'vivah/img/048.jpg' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<script type="text/javascript" src="quform/js/scripts.js"></script>
<script>

function recaptchaCallback() {
    $('#submitBtn').removeAttr('disabled');
};

    window.QuformRecaptchaLoaded = function () {
        if (window.grecaptcha && window.jQuery) {
            jQuery('.g-recaptcha').each(function () {
                var $recaptcha = jQuery(this);

                if ($recaptcha.is(':empty')) {
                    $recaptcha.data('recaptcha-id', grecaptcha.render($recaptcha[0]));
                }
            });
        }
    };

</script>

<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async
        defer></script>