{% extends "vivah/base.html" %}
{% load static %}
{% block title %}Membership{% endblock %}
{% block meta_description %}Membership Offered By Shubh Shaadi Vivah{% endblock %}
{% block content %}

<style>
    table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-top:auto;
    margin-bottom:auto;
}
.text-sm {
    font-size: 12px;
}
.price {
    font-size: 3em;
}







</style>

<div class="about_main clearfix">
    <section id="about">
        <img src="{% static 'vivah/img/002.jpg' %}" width="100%">
    </section>
    <section id="about_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
    <section id="about_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
</div>


<section id="about_heading_main" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_heading_main_1">
                    <h5><a href="/">Home</a> <span>//</span> Membership</h5>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <p>
    <h3>ShubhShaadiVivah offers extraordinary services through our dedicated team of experts filled with immense
        knowledge
        of the industry and functional expertise to convert their consistent efforts into remarkable results within a
        short
        span of time. We will be happy to serve you, if you give us a chance to provide you personalized match making
        services. Kindly send us profile for your near and dear ones along with photographs so that we can suggest
        suitable
        proposals. We will make the best of our efforts to provide remarkable results. Your positive response will be
        highly
        appreciated and if you need any clarifications, you can reach out to use any time.</h3></p>
</div>
<div class="arrange">
    <hr>
    <h1 class="text-center"><span>ShubhShaadiVivah</span> Membership Scheme</h1>
</div>
<div>
    <table class="table table-hover table-bordered" style="text-align:center;padding-left:200px; padding-right:200px;">
        <thead>
        <tr class="active">
            <th style="background:#fff">
                <center></center>
            </th>
            <th>
                <center><h4>Free</h4>
                    <!---<p class="text-muted text-sm">Ideal for small operations.</p></center>---></center>
            </th>
            <th>
                <center><h4>Bronze</h4></center>
            </th>
            <th>
                <center><h4>Sliver</h4></center>
            </th>
            <th>
                <center><h4>Gold</h4></center>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr><!----
        <td><br/>Price</td>
        <td><h3 class="panel-title price">$399</h3></td>
        <td><h3 class="panel-title price">$699</h3></td>
        <td><h3 class="panel-title price">$799</h3></td>----->
        </tr>
        <tr>
            <td colspan="5" align="left" style="padding-left:20px;" class="active"><b>Website Features</b></td>
        </tr>
        <tr>
            <td>Profile Registeration & Management</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Profile Display</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Profile Up-gradation Facility</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Upload Your Photographs</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Horoscope Entry</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Express Interest to Other Members</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Receive Interest from Other Members</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Unlimited Profile Search Option</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Profile Availability to Members</td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Acecess of Verified Phone Numbers</td>
            <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Send and Receive Personalized Messages</td>
            <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Reply to Personalized Messages</td>
            <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Short listing of proposal</td>
            <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Get Highlight to Your Profile</td>
            <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <td>Profile References to other Members</td>
            <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
            <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        </tr>
        <tr>
            <!----  <td></td>
              <td><a class="btn btn-info" style="margin-top:10px; margin-bottom:10px">Order Now</a></td>
              <td><a class="btn btn-info" style="margin-top:10px; margin-bottom:10px">Order Now</a></td>
              <td><a class="btn btn-info" style="margin-top:10px; margin-bottom:10px">Order Now</a></td> ---->
        </tbody>
    </table>
</div>

<br>


</script>
<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async
        defer></script>
<center>
    <h2> Our Regular Membership Offer</h2>
    <div>
</center>
{% include 'vivah/membership1.html' %}
</div>
<br><br><br>
<center>
    <h2> Our Account Details</h2>
    <h3>We are open for donation for the free social motive for the needy people in helping them in setting their
        family</h3>
    <h4>Your can sponsor for one Kanyādāna in the pandemic Donate Now! Your contribution will help in creating a happy
        family | Donate now. Help for this nobel course
        <p>Kanyadaan meaning as a ritual is one of the most sacred wedding rituals without which no Hindu wedding will come
        to exist. It exemplifies the father-daughter bond and is thus a tradition which invokes very deep-seated
        emotions and sentiments. It's pure moments of love and ecstasy that is
            only known to the love and bond that is shared between father and the daughter.</p>
    </h4>
</center>
<div class="register clearfix">
    <div class="col-sm-5 space_left">
        <div class="card-image"><img src="{% static 'vivah/img/kan.png' %}" alt="ShubhShaadiVivah.com"
                                     width="100%" height="300px"></div>
    </div>
    <div class="col-sm-7 space_left">

        <div class="register_left">
            <hr>
            <div class="card-image"><img src="{% static 'vivah/img/BANK.png' %}" alt="ShubhShaadiVivah.com"
                                         width="100%"></div>
        </div>
    </div>
</div>
<br><br><br><br><br><br>

{% endblock %}