{% extends "vivah/base.html" %}
{% load static %}
{% block title %}Services{% endblock %}
{% block meta_description %}Contact Us for details {% endblock %}
{% block content %}

<style>
    table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-top:auto;
    margin-bottom:auto;
}
.text-sm {
    font-size: 12px;
}
.price {
    font-size: 3em;
}




</style>
<section id="about_heading_main" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_heading_main_1">
                    <h5><a href="/">Home</a> <span>//</span> Membership</h5>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="arrange">
    <hr>
    <h1 class="text-center"><span>ShubhShaadiVivah</span> Membership Scheme</h1>
</div>

<table class="table table-hover table-bordered" style="text-align:center;padding-left:200px; padding-right:200px;">
    <thead>
    <tr class="active">
        <th style="background:#fff">
            <center></center>
        </th>
        <th>
            <center><h4>Free</h4>
                <!---<p class="text-muted text-sm">Ideal for small operations.</p></center>---></center>
        </th>
        <th>
            <center><h4>Bronze</h4></center>
        </th>
        <th>
            <center><h4>Sliver</h4></center>
        </th>
        <th>
            <center><h4>Gold</h4></center>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr><!----
        <td><br/>Price</td>
        <td><h3 class="panel-title price">$399</h3></td>
        <td><h3 class="panel-title price">$699</h3></td>
        <td><h3 class="panel-title price">$799</h3></td>----->
    </tr>
    <tr>
        <td colspan="5" align="left" style="padding-left:20px;" class="active"><b>Website Features</b></td>
    </tr>
    <tr>
        <td>Profile Registeration & Management</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Profile Display</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Profile Up-gradation Facility</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Upload Your Photographs</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Horoscope Entry</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Express Interest to Other Members</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Receive Interest from Other Members</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Unlimited Profile Search Option</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Profile Availability to Members</td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Acecess of Verified Phone Numbers</td>
        <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Send and Receive Personalized Messages</td>
        <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Reply to Personalized Messages</td>
        <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Short listing of proposal</td>
        <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Get Highlight to Your Profile</td>
        <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <td>Profile References to other Members</td>
        <td><i style="color:limegreen" class="fa fa-times fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
        <td><i style="color:limegreen" class="fa fa-check fa-lg"></i></td>
    </tr>
    <tr>
        <!----  <td></td>
          <td><a class="btn btn-info" style="margin-top:10px; margin-bottom:10px">Order Now</a></td>
          <td><a class="btn btn-info" style="margin-top:10px; margin-bottom:10px">Order Now</a></td>
          <td><a class="btn btn-info" style="margin-top:10px; margin-bottom:10px">Order Now</a></td> ---->
    </tbody>
</table>

</script>
<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async
        defer></script>

{% include 'vivah/membership1.html' %}

{% endblock %}