<section id="top">
    <div class="container">
        <div class="row">
            <div class="top clearfix">
                <div class="col-sm-6">
                    <div class="top_left">
                        <p>India's Most Preferred Matchmaking Services</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="top_right clearfix text-right">
                        <span class="span_1"><i class="fa fa-phone-square"></i>  +91-9075445588 </span>
                        <span class="span_2"><i class="fa fa-whatsapp"></i>
                            <a href="https://wa.me/917013451914"><strong>+91-7013451914</strong></a></span>
                  </span>
                    </div>
                </div>
            </div>
        </div>
</section>
<section id="header" class="cd-secondary-nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"
                           href="\">ShubhShaadiVivah<br><span>Bringing Families Together</span></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="color_1 active_1" href="{% url 'home' %}">Home</a></li>
                            <li><a class="color_1" href="{% url 'about' %}">About Us</a></li>
                            <li><a class="color_1" href="{% url 'services' %}">Services</a></li>
                            <!----<li><a class="color_1" href="{% url 'membership' %}">Membership</a></li>--->
                            <li><a class="color_1" href="{% url 'register' %}">Register</a></li>
                            <li><a class="color_1" href="{% url 'contact' %}">Contact Us</a></li>

                            <li class="dropdown">
                                <a class="dropdown-toggle color_1" data-toggle="dropdown" href="services.html"
                                   aria-expanded="false">More Info
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'faq' %}">FAQ's</a></li>
                                    <li><a href="{% url 'membership' %}">Membership</a></li>
                                    <li><a href="{% url 'ellite' %}">Royall Services</a></li>
                                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                                    <li><a href="{% url 'terms' %}">Terms And Conditions</a></li>
                                    <li><a href="{% url 'disclaimer' %}">Disclaimer</a></li>
                                    <li><a href="{% url 'secure' %}">Stay Secure</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</section>
