{% extends "accounts/adminprofilebase.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<style>
      table,
      td,
      th {
        padding: 10px;
        border: 2px solid #1c87c9;
        border-radius: 5px;
        background-color: #e5e5e5;
        text-align: center;
      }
</style>
<div class="card bg-warning text-white">
    <div class="card-header"><h4>PARTNER PREFERENCE</h4></div>
</div>

<div class="regformbg">
    <div class="container-fluid mt-3">
        <br>
        <div class="row">
            <div id='info' class="col-lg-8 mx-auto">
                <div class="row mx-auto">
                    <div class="content-section">
                        <form action="profilepref" method="POST" enctype="multipart/form-data">
                            <fieldset class="form-group">
                                {% csrf_token %}
                                {{ p_form.media }}
                                <!-- {% crispy p_form %} --->
                                {{ p_form.organization|as_crispy_field }}
                                <div class="row">
                                    <div class="col-6">
                                        {{ p_form.pagemin|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ p_form.pagemax|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ p_form.pmartialstatus|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ p_form.pcomplexion|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ p_form.preligion|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ p_form.pcaste|as_crispy_field }}
                                    </div>
                                </div>
                                {{ p_form.peducation|as_crispy_field }}
                            </fieldset>

                            <div class="form-group">
                                <p>
                                    <button class="btn btn-danger" type="Submit">Update</button>
                                <p><strong>Once your documents have been verified they will no longer be editable. To
                                    make
                                    changes
                                    contact
                                    sales@shubhshaadivivah.com</strong></p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div id='products3' class="col-lg-4 mx-auto">
                {% include 'accounts/snippets/notice1.html' %}
            </div>
            <hr>
        </div>
    </div>

</div>
    {% endblock content %}
