{% extends "vivah/base.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block meta_description %}Register {% endblock %}
{% block content %}
<div class="about_main clearfix">
    <section id="about">
        <img src="{% static 'vivah/img/009.jpg' %}" width="100%">
    </section>
    <section id="about_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
    <section id="about_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
</div>

<section id="about_heading" class="about_register">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_heading">
                    <h5><a href="#">Home</a> <span>//</span>Register</h5>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'vivah/form2.html' %}
 <br><br> <br><br> <br><br> <br><br>

<div id="toTop" class="btn btn-info" style="display: block;"><span class="glyphicon glyphicon-chevron-up"></span> Top
</div>

<script>
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	}); 
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});


</script>

<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown(0);
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp(0);
            $(this).toggleClass('open');       
        }
    );
	
	/*****Fixed Menu******/
	var secondaryNav = $('.cd-secondary-nav'),
	   secondaryNavTopPosition = secondaryNav.offset().top;
		$(window).on('scroll', function(){
			if($(window).scrollTop() > secondaryNavTopPosition ) {
				secondaryNav.addClass('is-fixed');	
			} else {
				secondaryNav.removeClass('is-fixed');
			}
		});	
		
});

</script>


</script>
<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async
        defer></script>
{% endblock %}

