{% extends "vivah/base.html" %}
{% load static %}
{% block title %}Services{% endblock %}
{% block meta_description %}Contact Us for details {% endblock %}
{% block content %}

<div class="about_main clearfix">
    <section id="about">
        <img src="{% static 'vivah/img/001.jpg' %}" width="100%">
    </section>
    <section id="about_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
    <section id="about_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
</div>

<section id="about_heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_heading">
                    <h5><a href="#">Home</a> <span>//</span>Our Services</h5>
                    <h1>Our <span>  Services</span></h1>
                    <p>Using its foresightedness, acumen and voluminous experience in the field, ShubhShaadiVivah.com
                        aims at providing only perfect and superlative matchmaking services to its users. Last but not
                        the least, our dictum is to make giant strides and enlarge our scope of influence in the field
                        of matrimony matchmaking, by offering matchmaking services that are second to none.</p>
                </div>
                <div class="services clearfix">
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <a href="{% url 'membership' %}">
                                <button class="btn success"><h2>WeSupport</h2></button>
                            </a>

                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/018.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p><strong>WeSupport</strong> is an initiative from ShubhShaadiVivah to empower our
                                        members with
                                        special needs. The website is intended to offer a common platform for members
                                        who are differently-abled. We have designed the platform to help shorten the
                                        search and discovery time frame and find better matches from the specific or
                                        larger community. <strong>WeSupport</strong> is an inclusive platform that
                                        supports both members who
                                        are differently abled and those without who would like to meet their partners
                                        from them</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <a href="{% url 'membership' %}">
                                <button class="btn success"><h2>Second Marriage</h2></button>
                            </a>

                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/s002.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p>There is hope all around you.

                                        You only need to keep searching.

                                        You’ll discover it.

                                        While discovering the fact that it’s never too late to live happily ever after.

                                        And then you’ll celebrate it.

                                        Like thousands of others have, through ShubhShaadiVivah

                                        You’ll celebrate a new beginning.

                                        You’ll celebrate true love.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services border_none_1 margin_top_1 clearfix">
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <a href="{% url 'ellite' %}">
                                <button class="btn success"><h2>Royall Services</h2></button>
                            </a>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/v008.jpg' %} " width="260px" height="400px">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p> With Royale Services, you are assured of the highest levels of personalized
                                        service and privacy.
                                        Royal matrimonial personalized matchmaking services packages are tendered while
                                        considering every economical group of people. We believe every person has the
                                        right to meet their perfect partner. We are the best matrimonial agency work par
                                        excellence in the prices anyone can afford to get the perfect match. We offer
                                        our excellence starting from Basic Services to VIP Services and at last our
                                        exclusive Elite VIP Services that only aims to deliver the wanted results
                                        in affordable packages.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <a href="{% url 'membership' %}">
                                <button class="btn success"><h2>Single People</h2></button>
                            </a>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/v002.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p>We believe choosing a life partner is a big and important decision, and hence
                                        work towards giving a simple and secure matchmaking experience for you and your
                                        family. Each profile registered with us goes through a manual screening process
                                        before going live on site; we provide superior privacy controls for Free; and
                                        also verify contact information of members.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="services clearfix">
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Basic Vastu For Home</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/0021.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p>Wondering if your home is vastu-compliant? Going through personal or professional
                                        issues? Simply send in your floor plan and questions, and have them answered by
                                        our expert</p>
                                    <h4><p> Pre-registration:+91 90754 45588</p> <a href="{% url 'contact' %}">
                                        <button class="btn success">Contact Us</button>
                                    </a>
                                    </h4>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Someone is there</h2>
                            <h2> Somewhere who dreams of you..</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/000v.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <li><h3>Caste Matrimony</h3></li>
                                    <li><h3>Community Matrimony</h3></li>
                                    <li><h3>State Matrimony</h3></li>
                                    <li><h3>City Matrimony</h3></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services1 clearfix">
                    <div class="col-sm-10 space_left">
                        <div class="services_inner">
                            <h2>Home plan with Vastu-</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/v007.jpeg' %}" width="100%" height="300px">
                                    <img src="{% static 'vivah/img/v014.jpeg' %}" width="100%" height="300px">
                                    <center><h2>Submit your floor plan and have all your questions answered</h2>
                                    </center>
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <h4> For those who follow vastu, believe that many of their life problems can be
                                        solved by simply tending to the energies of the space they live in. With
                                        rearrangement of furniture, choosing the right colours for the walls and
                                        bringing in vastu-verified decor pieces, domestic peace can be attained. Finding
                                        the right expert, at the right time may not be easy, though. So, instead of
                                        scrolling through various names and numbers online (we understand the pain), we
                                        decided to bring the expert to your doorstep or slove by online.</h4><br>
                                    <h4>
                                        We invite readers to send in their floor plans (of homes or offices) via email.
                                        These can be properties that are rented or owned. To participate, all you need
                                        to do is follow the below points:</h4><br>
                                    <h4> <strong>Attach a floor plan</strong></h4><br>
                                    <h4><strong>Mention whether the property is owned or rented.</strong></h4>
                                    <h4> <strong>Type of property:</strong> Bungalow/ flat/ entire building/ shop or a row house.</h4>
                                    <h4><strong>Name:</strong>Mention the name of the owner/ tenant of the property. In case of two
                                        owners or tenants, mention whose name comes first on the agreement. If its an
                                        office space then mention the company’s name.</h4>
                                    <h4><strong>Nature of work:</strong> Mention the profession/ business of the people staying in that
                                        property. In case of an office, mention the nature of the business.
                                        Mark the directions on the floor plan.
                                        Mark the bed/office desk on the floor plan for better analysis.
                                        Mark the position of mirrors in the property for a detailed reading.</h4>
                                    <h4> <strong>Send us a feedback a month after carrying out the changes.</strong>
                                        Along with the floor plan, you can either pen down, in points, the issues you
                                        are facing at home and in your personal life, or write a set of questions
                                    </h4>
                                    <h4>
                                        <a href="{% url 'contact' %}">
                                            <button class="btn success">Contact Us</button>
                                        </a>
                                        Pre-registration number :+91 90754 45588
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <br><br><br>
                    </div>

                    <div class="services1 clearfix">
                        <hr>
                        <div class="col-sm-10 space_left">
                            <div class="services_inner">
                                <h2>About our Astrologer-</h2>
                                <div class="services_inner_1 clearfix">
                                    <div class="col-sm-6 space_left services_inner_1_inner">
                                        <img src="{% static 'vivah/img/u001.png' %}" width="100%" height="340px">
                                        <center><h2>Mrs. Ulka Hete</h2></center>
                                    </div>
                                    <div class="col-sm-6 space_left services_inner_1_inner_1">
                                        <h4><p> She is an eminent astrologer with deep knowledge in Vedic astrology,
                                            Numerology,
                                            Gemology, Vastushastra etc.</p>
                                            <p>She has been practicing this holy subjects for
                                                the
                                                past two decades. She is proficient in offering unique astrological
                                                guidance
                                                career, business aspects and partnership combinations etc
                                                She believe that the right code of conduct with the right method at
                                                right
                                                time
                                                to
                                                perform a task always aid success whether in a career, business,
                                                marriage or
                                                personal life.</p>
                                            <p>She has been successful in guiding the life of the valued clients in a
                                                positive
                                                direction. With her intellectual and well versed astrological knowledge,
                                                She
                                                has
                                                helped the clients in making reasonable decisions, which gives them
                                                extreme
                                                contentment and happiness in life. Astrological remedies suggested by
                                                her
                                                benefited lots of people around the globe</p></h4>
                                        <br>
                                        <h4>
                                            <a href="{% url 'contact' %}">
                                                <button class="btn success">Contact Us</button>
                                            </a>
                                            Pre-registration number :+91 90754 45588
                                        </h4>

                                    </div>
                                </div>
                            </div>
                            <br><br><br>
                        </div>
                        <div class="services1 clearfix">
                            <div class="col-sm-12 space_left">
                                <div class="services_inner">
                                    <h2>
                                        Astrology is not a lie, science is a mixture of science. 27 stars, 9 planets, 12
                                        races and
                                        the art
                                        of helping them to find the good and evil results in the human life. Astrology
                                        is
                                        not a
                                        superstition.</h2><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="services1 clearfix">
                            <div class="col-sm-10 space_left">
                                <div class="services_inner">
                                    <h2>About our Astrologer-</h2>
                                    <div class="services_inner_1 clearfix">
                                        <div class="col-sm-6 space_left services_inner_1_inner">
                                            <img src="{% static 'vivah/img/u002.jpg' %}" width="100%" height="300px">
                                            <center><h2>Mr. Shashank Wadekar</h2></center>
                                        </div>
                                        <div class="col-sm-6 space_left services_inner_1_inner_1">
                                            <h4>He is proficient in offering unique astrological guidance in-</h4>
                                            <h4>"Life, Health, Education, Marriage, Children, Social Status, Period of
                                                Life,
                                                Deeds, Parents, Life, Health, Wealth, Gains, Storage, Property, Brother,
                                                Career."</h4><br>
                                            <h4>He has deep knowledge in Vedic astrology,
                                                Numerology,
                                                Gemology, Vastushastra etc. </h4><br>
                                            <h4> He has done Thousands of Case Studies. His Marriage Match Analysing
                                                methods
                                                are Excellent and helped many international clients in making reasonable
                                                decisions,
                                                which gives them extreme
                                                contentment and happiness in life. Astrological remedies suggested by
                                                him
                                                benefited lots of people around the globe</h4>
                                            <p>
                                                <a href="{% url 'contact' %}">
                                                    <button class="btn success">Contact Us</button>
                                                    Pre-registration number :+91 90754 45588</a></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br><br><br>
            </div>

            <p>
            <h2>
                Go ahead and tell us about yourself and let ShubhShaadiVivah.com send you matching members from our
                residence
                country and city.</h2></p><br>
            <p>
            <h2> Start your international partner search by completing your profile here. So join now at
                ShubhShaadiVivah.com
                to find
                romance.
                Good luck and happy searching.</h2><br><br>

            </p>
        </div>
        <div class="services1 clearfix">
            <div class="col-sm-12 space_left">
                <div class="services_inner">
                    <h2>
                        Astrology wizard just for fun and information purpose only.
                    </h2><br><br>
                </div>
            </div>
            <div class="container">
                <br><br><br><br>
                <center>
                    <script src="https://www.astrolookup.com/js/widget/zodiac-sign-script.js"></script>
                </center>
            </div>
            <br><br><br>
            <div>
                <center>
                    <script src="https://www.astrolookup.com/js/widget/ascendant-script.js"></script>
                </center>
            </div>
            <br><br><br>
            <div>
                <center>
                    <script src="https://www.astrolookup.com/js/widget/numerology.js"></script>
                </center>

            </div>
            <div id="widget_container"><a id="bc_astro" href="https://astro-charts.com"></a></div>

        </div>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-22f1f283-7d49-4b56-ad92-38f496767b12"></div>
</section>

<br><br><br>
<br><br><br>

</div>


</script>
<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async
        defer></script>


{% endblock %}