{% extends "vivah/base.html" %}
{% load static %}
{% block title %}Services{% endblock %}
{% block meta_description %}Contact Us for details {% endblock %}
{% block content %}

<div class="about_main clearfix">
    <section id="about">
        <img src="{% static 'vivah/img/001.jpg' %}" width="100%">
    </section>
    <section id="about_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
    <section id="about_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
</div>

<section id="about_heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_heading">
                    <h5><a href="#">Home</a> <span>//</span>Our Services</h5>
                    <h1>Our <span>  Services</span></h1>
                    <p>Using its foresightedness, acumen and voluminous experience in the field, ShubhShaadiVivah.com
                        aims at providing only perfect and superlative matchmaking services to its users. Last but not
                        the least, our dictum is to make giant strides and enlarge our scope of influence in the field
                        of matrimony matchmaking, by offering matchmaking services that are second to none.</p>
                </div>
                <div class="services clearfix">
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>WeSupport</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/018.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p><strong>WeSupport</strong> is an initiative from ShubhShaadiVivah to empower our
                                        members with
                                        special needs. The website is intended to offer a common platform for members
                                        who are differently-abled. We have designed the platform to help shorten the
                                        search and discovery time frame and find better matches from the specific or
                                        larger community. <strong>WeSupport</strong> is an inclusive platform that
                                        supports both members who
                                        are differently abled and those without who would like to meet their partners
                                        from them</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Second Marriage</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/s002.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p>There is hope all around you.

                                        You only need to keep searching.

                                        You’ll discover it.

                                        While discovering the fact that it’s never too late to live happily ever after.

                                        And then you’ll celebrate it.

                                        Like thousands of others have, through ShubhShaadiVivah

                                        You’ll celebrate a new beginning.

                                        You’ll celebrate true love.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services border_none_1 margin_top_1 clearfix">
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Royale Services</h2>

                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/v0003.jpeg' %}">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p> With Royale Services, you are assured of the highest levels of personalized
                                        service and privacy. Moreover, our dedicated matchmakers assist you in finding
                                        the perfect
                                        relationship.</p>
                                    <p>Royal matrimonial personalized matchmaking services packages are tendered while
                                        considering every economical group of people. We believe every person has the
                                        right to meet their perfect partner. We are the best matrimonial agency work par
                                        excellence in the prices anyone can afford to get the perfect match. We offer
                                        our excellence starting from Basic Services to VIP Services and at last our
                                        exclusive Elite VIP Services that only aims to deliver the wanted results
                                        in affordable packages.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Single People</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/v002.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p>We believe choosing a life partner is a big and important decision, and hence
                                        work towards giving a simple and secure matchmaking experience for you and your
                                        family. Each profile registered with us goes through a manual screening process
                                        before going live on site; we provide superior privacy controls for Free; and
                                        also verify contact information of members.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="services clearfix">
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Basic Vastu For Home</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/0021.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p>A home other than being only a house to live, it is an increase of our mental
                                        space and indication of our identity. Every part of our life is profoundly laced
                                        with the design, decor and maintenance of our home. The meaning of vastu is
                                        dwelling, which is the home for god and humans. Vastu shastra depends on
                                        different energies that originates from atmosphere like solar energy from sun,
                                        cosmic energy, lunar energy, thermal energy, magnetic energy, light energy, wind
                                        energy</p>
                                    <p><h4>Pre-registration:+91 90754 45588</h4></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Someone is there</h2>
                            <h2> Somewhere who dreams of you..</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/000v.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <li><h3>Caste Matrimony</h3></li>
                                    <li><h3>Community Matrimony</h3></li>
                                    <li><h3>State Matrimony</h3></li>
                                    <li><h3>City Matrimony</h3></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services1 clearfix">
                    <div class="col-sm-10 space_left">
                        <div class="services_inner">
                            <h2>About our Astrologer-</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/u001.png' %}" width="100%" height="500px">
                                    <center><h2>Mrs. Ulka Hete</h2></center>
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <h3> She is an eminent astrologer with deep knowledge in Vedic astrology,
                                        Numerology,
                                        Gemology, Vastushastra etc. She has been practicing this holy subjects for the
                                        past two decades. She is proficient in offering unique astrological guidance
                                        career, business aspects and partnership combinations etc
                                        She believe that the right code of conduct with the right method at right time
                                        to
                                        perform a task always aid success whether in a career, business, marriage or
                                        personal life.
                                        She has been successful in guiding the life of the valued clients in a positive
                                        direction. With her intellectual and well versed astrological knowledge, She has
                                        helped the clients in making reasonable decisions, which gives them extreme
                                        contentment and happiness in life. Astrological remedies suggested by her
                                        benefited lots of people around the globe</h3><br>
                                    <h4>Pre-registration number :+91 90754 45588</h4>
                                </div>
                            </div>
                        </div>
                        <br><br><br>
                    </div>
                    <div class="services1 clearfix">
                        <div class="col-sm-12 space_left">
                            <div class="services_inner">
                                <h2>
                                    Astrology is not a lie, science is a mixture of science. 27 stars, 9 planets, 12
                                    races and
                                    the art
                                    of helping them to find the good and evil results in the human life. Astrology is
                                    not a
                                    superstition.</h2><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="services1 clearfix">
                        <div class="col-sm-10 space_left">
                            <div class="services_inner">
                                <h2>About our Astrologer-</h2>
                                <div class="services_inner_1 clearfix">
                                    <div class="col-sm-6 space_left services_inner_1_inner">
                                        <img src="{% static 'vivah/img/u002.jpg' %}" width="100%" height="500px">
                                        <center><h2>Mr. Shashank Wadekar</h2></center>
                                    </div>
                                    <div class="col-sm-6 space_left services_inner_1_inner_1">
                                        <h3>He is proficient in offering unique astrological guidance in-</h3>
                                        <h3>"Life, Health, Education, Marriage, Children, Social Status, Period of Life,
                                            Deeds, Parents, Life, Health, Wealth, Gains, Storage, Property, Brother,
                                            Career."</h3><br>
                                        <h3>He has deep knowledge in Vedic astrology,
                                            Numerology,
                                            Gemology, Vastushastra etc. </h3><br>
                                        <h3> He has done Thousands of Case Studies. His Marriage Match Analysing methods
                                            are Excellent and  helped many international clients in making reasonable
                                            decisions,
                                            which gives them extreme
                                            contentment and happiness in life. Astrological remedies suggested by him
                                            benefited lots of people around the globe</h3>
                                        <p><h4>Pre-registration number :+91 90754 45588</h4></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <p>
        <h2>
            Go ahead and tell us about yourself and let ShubhShaadiVivah.com send you matching members from our
            residence
            country and city.</h2></p><br>
        <p>
        <h2> Start your international partner search by completing your profile here. So join now at
            ShubhShaadiVivah.com
            to find
            romance.
            Good luck and happy searching.</h2>

        </p>
    </div>
</section>

<br><br><br>
<br><br><br>
<div class="footer_main clearfix">
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="footer clearfix">
                    <div class="col-sm-3">
                        <div class="footer_left">
                            <img src="img/32.png">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer_right">
                            <p>
                                <a href="#">Home</a>
                                <a href="#">About Us</a>
                                <a href="#">Services</a>
                                <a href="#">Register</a>
                                <a href="#">Contact Us</a>
                            </p>
                            <div class="footer_right_inner clearfix">
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


</script>
<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async
        defer></script>


{% endblock %}