{% extends "vivah/base.html" %}
{% load static %}
{% block title %}Services{% endblock %}
{% block meta_description %}Contact Us for details {% endblock %}
{% block content %}

<div class="about_main clearfix">
    <section id="about">
        <img src="{% static 'vivah/img/001.jpg' %}" width="100%">
    </section>
    <section id="about_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
    <section id="about_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
        </div>
    </section>
</div>

<section id="about_heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_heading">
                    <h5><a href="#">Home</a> <span>//</span>Our Services</h5>
                    <h1>Our <span>  Services</span></h1>
                    <p>Using its foresightedness, acumen and voluminous experience in the field, ShubhShaadiVivah.com
                        aims at providing only perfect and superlative matchmaking services to its users. Last but not
                        the least, our dictum is to make giant strides and enlarge our scope of influence in the field
                        of matrimony matchmaking, by offering matchmaking services that are second to none.</p>
                </div>
                <div class="services clearfix">
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>WeSupport</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/018.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p><strong>WeSupport</strong> is an initiative from ShubhShaadiVivah to empower our
                                        members with
                                        special needs. The website is intended to offer a common platform for members
                                        who are differently-abled. We have designed the platform to help shorten the
                                        search and discovery time frame and find better matches from the specific or
                                        larger community. <strong>WeSupport</strong> is an inclusive platform that
                                        supports both members who
                                        are differently abled and those without who would like to meet their partners
                                        from them</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Second Marriage</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/s002.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p>There is hope all around you.

                                        You only need to keep searching.

                                        You’ll discover it.

                                        While discovering the fact that it’s never too late to live happily ever after.

                                        And then you’ll celebrate it.

                                        Like thousands of others have, through ShubhShaadiVivah

                                        You’ll celebrate a new beginning.

                                        You’ll celebrate true love.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services border_none_1 margin_top_1 clearfix">
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Royale Services</h2>

                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/s003.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p> With Royale Services, you are assured of the highest levels of personalized
                                        service and privacy. Moreover, our dedicated matchmakers assist you in finding
                                        the perfect
                                        relationship.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 space_left">
                        <div class="services_inner">
                            <h2>Single People</h2>
                            <div class="services_inner_1 clearfix">
                                <div class="col-sm-6 space_left services_inner_1_inner">
                                    <img src="{% static 'vivah/img/43.jpg' %}" width="100%">
                                </div>
                                <div class="col-sm-6 space_left services_inner_1_inner_1">
                                    <p>We believe choosing a life partner is a big and important decision, and hence
                                        work towards giving a simple and secure matchmaking experience for you and your
                                        family. Each profile registered with us goes through a manual screening process
                                        before going live on site; we provide superior privacy controls for Free; and
                                        also verify contact information of members.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="footer_main clearfix">
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="footer clearfix">
                    <div class="col-sm-3">
                        <div class="footer_left">
                            <img src="img/32.png">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer_right">
                            <p>
                                <a href="#">Home</a>
                                <a href="#">About Us</a>
                                <a href="#">Services</a>
                                <a href="#">Register</a>
                                <a href="#">Contact Us</a>
                            </p>
                            <div class="footer_right_inner clearfix">
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_left">
                            <img src="img/52.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</script>
<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async
        defer></script>


{% endblock %}