{% extends "vivah/base.html" %}
{% load static %}
{% block title %}Stay Secure{% endblock %}
{% block meta_description %}Stay Secure{% endblock %}
{% block content %}

<section id="about_heading" class="about_register">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div class="about_heading">
                    <h5><a href="\">Home</a> <span>//</span>Stay Secure</h5>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact">
    <div class="container">
        <div class="row">
            <div class="contact clearfix">
                <div class="col-sm-12">
                    <div class="contact_inner text-center">
                        <h2><i class="fa fa-check"></i>STAY SECURE</h2>
                          <img src="{% static 'vivah/img/011.jpg' %}" height="330" width="100%" alt="First slide">
                        <br>
                        <br>
                    </div>
                    <div class="container">
                        <div class="col-sm-10">
                            <p>
                            <h3>We as a company are committed to providing you a safer search for a matrimonial alliance
                                and
                                we go to great lengths to make sure that you get the best possible experience with
                                us.</h3></p>
                            <br>
                            <br>
                            <h2>While we do all this, we urge you to play your part as a prudent user.</h2><br><br>

                            <h3><i class="fa fa-check"></i>Commit to marriage only after a couple of face to face
                                meetings, especially with
                                the
                                prospective match's parents/relatives. Always conduct an end-to-end background check
                                of
                                the person. Try to contact workplace, family, friends, relatives, neighbors or
                                associates of a prospective match to know more about him/her.</h3>
                            <br><br>
                            <h3><i class="fa fa-check"></i>If a person is reluctant to come on a video chat or to meet
                                you in person, it
                                should
                                be treated as a red flag. Always choose to meet the prospective match in a public
                                place.
                                For your safety, we advise you to keep your family (and friends) informed about the
                                meeting and the venue.</h3><br><br>
                            <h3><i class="fa fa-check"></i>Do not share your sensitive/personal pictures while chatting
                                with anybody you
                                have
                                met through our matrimonial website. We urge you not to transfer funds or offer
                                financial help to the prospective match. The moment someone asks you for money
                                citing
                                some reason or a pressing emergency, you should become cautious and avoid further
                                communication.</h3><br><br>
                            <h3><i class="fa fa-check"></i>A few ways to identify a Fraudster is that they will usually
                                call from multiple
                                numbers. Even if they give a number, they don't pick up when you call. They may
                                later
                                call you back from a different number.</h3><br><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</script>
<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async
        defer></script>
<br><br><br><br>
<br><br><br><br>
{% endblock %}