<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Privacy Policy - ShubhShaadiVivah.com</title>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-16625285-7', 'auto');
ga('send', 'pageview');


    </script>
</head>
<body>
<body>


<div style="background:#fff;padding:30px;">
    <section id="about_heading" class="about_register">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="about_heading">
                        <h5><a href="\">Home</a> <span>//</span>Terms of Use</h5>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="heading pb5px bdrB mb10px">
        <h1>Terms of Use</h1>
    </div>
    <p class="aj">The website, <a href="\">www.shubhshaadivivah.com</a> /
        shubhshaadivivah.Com ("Site") is an electronic web based platform for exploring opportunities and enhancing
        outreach using the online search and other tools available for the prospective brides and prospective grooms. It
        is owned and managed by SHREE BHAVANI SHANKAR SANATAN DHARM MATRIMONY with its registered office at
        8GMP+928, Janardhan Reddy Nagar,Midhani Colony, New Gayatri Nagar,Medbowli, Telangana 500097, India
        <br><br>
        Any and all use of this website is subject to, and constitutes acknowledgment and acceptance of, the following
        Terms and Conditions ("Terms"). It is mandatory for all Members of the Site to have read carefully, fully
        understood and be in total agreement to the below mentioned Terms before they proceed to use any of the services
        of the Site ("Services"). The Services are available only to those individuals who can form legally binding
        contracts under the Indian laws. SHREE BHAVANI SHANKAR SANATAN DHARM MATRIMONY may amend these Terms of Use at
        any time by posting the
        amended version on this site. Such amended version shall automatically be effective upon its posting on this
        site.
        <br><br>
        <b>Definition clause:-</b><br><br>
    </p>
    <ul class="default">
        <li>Member: For purposes of this Agreement, a "Member" is any person who accesses the Site for whatever purpose,
            regardless of whether said Member has registered with ShubhShaadiVivah.Com as a registered Member or
            whether said Member is a paying customer for a specific service provided by ShubhShaadiVivah.Com. A Member
            includes the person using this Site and any legal entity which may be represented by such person under
            actual or apparent authority.
        </li>
        <li>Un-Authorized Member: - Any person who does not have a legal or a contractual right to access the services,
            but does so, will fall within the definition of an 'unauthorized customer' and will be subject to the terms
            and conditions, and expressly so with respect to respecting the intellectual property rights of the
            provider, and abiding by licensing terms and conditions.
        </li>
        <li>Free Services: Any person/entity that joins the Site just with the intention to enlist his showcase his
            profile online without availing any specialized services thereto.
        </li>
        <li>Paid Services: Access to the Site and certain features are provided to all Members free of charge. However,
            the Site reserves the right, without prior notice, to restrict access to certain areas or features of the
            Site ("Paid Services") to paying Members or Members who undergo a specific registration process. Access to
            and use of these Paid Services is governed by additional terms and conditions under separate agreements in
            addition to this Agreement.
        </li>
    </ul>
    <br><br>
    ShubhShaadiVivah.com doesn't allow registration/transactions by any member/user that has direct or indirect
    involvement to any sanctioned countries / territories (Cuba, Iran, Syria, North Korea / Democratic People's Republic
    of Korea, Crimea and Sevastopol / Crimean Autonomous Republic) as per sanctions laws imposed by UN, US, UK, EU or
    any other Government and/or Regulatory authorities.
    <br><br>
    By using the Site and its Services, the Members represent and warrant that (a) All registration information
    submitted is truthful and accurate; (b) The Members will maintain the accuracy of such information; (c) The use of
    the Site does not violate any applicable law or regulation. (d) Member's profile may be deleted and his Membership
    may be terminated without warning, if we believe that Member is in breach of any of the above terms. (e) In no event
    the Site will be liable for any damages including, without limitation, indirect or consequential damages, or any
    damages whatsoever arising from use or loss of use, data, or profits, whether in action of contract, negligence or
    other tortuous action, arising out of or in connection with the use of the site.
    <br><br>
    This Agreement applies to each Paid Service (as defined below) in addition to any terms and conditions that may be
    applicable to such specific Paid Service provided, however, that in the event of any conflict or inconsistency
    between any provision of the terms and conditions that may be applicable to such Paid Service and any provision of
    this Agreement, such conflict or inconsistency shall (except as otherwise expressly provided or agreed) be resolved
    in a manner favorable to ShubhShaadiVivah.Com and/or its affiliates; and only to the extent that such conflict or
    inconsistency cannot be so resolved, the provisions of the terms and conditions applicable to such specific Paid
    Service shall prevail.
    <br><br>
    Membership is activated within 2-4 working days from the receipt of activation charges and is continued for the
    period for which the activation charges have been submitted
    <br><br>
    Members be aware that the servers belongs to third party and the continuation to access the services are subject to
    availability as the same is interrupted at times by technical problems /hackers etc. and the Site or the parent
    company is not responsible for the costs/damages/extension of activation period etc. for the same in any manner
    under any circumstances. The members are advised to spool the messages etc. offline and save them elsewhere in order
    to avoid any hacking or technical problem.
    <br><br>
    Membership charges are subject to revision and are at the discretion of the ShubhShaadiVivah.com.
    <br><br>
    The Site reserves their right to block or delete the webpage at any time without assigning any reason etc. and the
    member/s will have no claim or right whatsoever against the Site under any circumstances.
    <br><br>
    Members agree to accept communications (through Calls/Chat/ Mails/SMS for existing services, enquiries, feedback and
    promotions) including member to member on the numbers made available during registration or subsequently, via
    registration forms, posting requirements, feedbacks or any such form that has provision for phone number / mobile
    number irrespective of being on Do Not Call Registry / National Customer Preference; which include company / your
    number / an assigned point of contact; with respect to the subscribed services of ShubhShaadiVivah.com, SHREE
    BHAVANI SHANKAR SANATAN DHARM MATRIMONY
    <br><br>
    As long as you use the site or remain to be a Member at the Site, this Agreement will remain in full force and
    effect. You may terminate your membership at any time, for any reason by following the instructions that have been
    provided in your folder. ShubhShaadiVivah.com may terminate your access to the Site or your membership at any time,
    for any reason effective upon sending notice to you at the email address you provide in your application for
    membership or such other email address as you may later provide to ShubhShaadiVivah.com. If ShubhShaadiVivah.com
    terminates your membership because you have breached the Agreement, you will not be entitled to any refund of any
    unused Subscription fees. Even after this Agreement is terminated, certain provisions will remain in effect
    inclusive, of this Agreement.
    <p></p>

    <br>
    <p class="blue b large u mb5px">The Non-Commercial Use of Site and Services by Members :</p>
    <p class="aj">Your membership at ShubhShaadiVivah.com is for your sole, personal use. You may not authorize others
        to use your account, and you may not assign or otherwise transfer your account to any other person or entity.
        The Site may not be used in connection with any commercial endeavors. This includes providing links to other
        websites, whether deemed competitive to the Site or otherwise. Companies, organizations and/or businesses may
        not become Members of the Site and should not use the services provided by the site for any purpose. Illegal
        and/or unauthorized uses of the Site, including unauthorized framing of or linking to the Site will be
        investigated, and appropriate legal action will be taken, including without limitation, civil, criminal, and
        injunctive redress.
        <br><br>
        That the Members agree to use this site only for lawful purposes, and in a manner which does not infringe the
        rights of, or restrict or inhibit the use and enjoyment of this site by any third party. Such restriction or
        inhibition includes, without limitation, conduct which is unlawful, or which may harass or cause distress or
        inconvenience to any person and the transmission of obscene or offensive content or disruption of normal flow of
        dialogue within this site. If any member/individual; /entity become aware of any inappropriate content by any
        member of this site, or otherwise please contact us by clicking on the "Feedback" link at the footer of every
        page.
    </p>

    <br>
    <p class="blue b large u mb5px">Proprietary Rights in Content on ShubhShaadiVivah.com:</p>
    <p class="aj">ShubhShaadiVivah.com owns and retains other proprietary rights in the site as well as the services.
        All logos, brands, trademarks, registered marks ("Marks") appearing in ShubhShaadiVivah.com are the properties
        either owned or used under license by the Company and / or its associates. All the rights accruing from the
        same, statutory or otherwise and intellectual property rights wholly vest with the Company / its associates. All
        rights not otherwise claimed under this Agreement or by the Company / its associates are hereby reserved.
        <br><br>
        The Site contains the copyrighted material, trademarks, and other proprietary information of
        ShubhShaadiVivah.com. You may not copy, modify, publish, transmit, distribute, perform, display, or sell any
        such proprietary information, except for that information which is in the public domain or for which you have
        been given permission.
        <br><br>
        The access to the Site does not confer upon the Member any license or right to use these Marks and therefore the
        use of these Marks in any form or manner whatsoever is strictly prohibited. Any act in violation of the above
        would constitute an offence under the prevailing laws of India and can be the reason for termination without
        refund. The Site reserves the right to take legal action (civil and/or criminal) for any violations.
    </p>

    <br>
    <p class="blue b large u mb5px">Content Posted on the Site:</p>
    <p class="aj">The Site has the authority to screen and delete at any time any content, messages, photos or profiles
        that in the sole judgment of the Site violates the Terms of Use or which might be objectionable, offensive,
        illegal, or that might violate the rights, harm, or threaten the safety of the site or its Members without prior
        notice to any Member.<br><br>
        You, as a member, would be solely responsible for the content that you decide to publish or display at the Site
        or choose to send to the members at the Site.<br><br>
        The Site doesn't allow posting of multiple profiles of the same person. The Site reserves the right to
        deactivate all multiple profiles without any refund of subscription fees.<br><br>
        By posting the content to any public area of the Site, you automatically grant, and you represent and warrant
        that you have the right to grant, to the Site, and its Members, an irrevocable, perpetual, non-exclusive,
        fully-paid, worldwide license to use, display, copy, perform and distribute such information and content and
        incorporate into other works or to prepare derivative works of, such information and content, and to grant and
        authorize sublicenses of the foregoing.<br><br>
        Members hereby agree that all the information posted on the Site including and not limited to text, facts, data,
        photographs, graphics, images, communications, tags, or any other content whether posted publicly or sent
        privately or otherwise through / on the Site are the sole responsibility of the person from whom such content
        originated and shall be at the Member's sole risks and consequences. Each Member is solely responsible for all
        Content that he / she chooses to upload, post, email, transmit or otherwise make available via the Site.
        <br><br>
        The Site can take your photo from any of your social networking profiles or chats ids (like WhatsApp) and update
        it as your profile photo on your listing at the Site, in order to give you a better response.<br><br>
        The Site is subject to Web Promotion for a world wide coverage. Your profile posted on the site would also be
        picked up by the Search Engine (Google, Yahoo, Altavista etc.) and listed on various searches.<br><br>
        The Site reserves the right to verify the authenticity of any information posted on the Site. In exercising this
        right, the Site may ask you to provide any documentary or other form of evidence to support the information
        posted by you and failure to produce such relevant evidence to the satisfaction of the Site may lead to
        termination of your Membership without a refund.<br><br>
        The following is a partial list of the kind of content that is illegal or prohibited at ShubhShaadiVivah.com.
        The site will investigate and take appropriate legal action in its sole discretion against anyone who violates
        this provision, including without limitation, removing the offending communication from the being a part of the
        services and terminating the Membership of such violators without a refund. It includes the content
        that:<br><br>
    </p>
    <ul class="default">
        <li>harasses or advocates harassment of another person;</li>
        <li>is patently offensive to the online community, any such content that promotes racism, bigotry, hatred or
            physical harm of any kind against any group or individual;
        </li>
        <li>involves unsolicited mass mailing or "spamming", the transmission of "junk mail", "chain letters,";</li>
        <li>promotes any information that is misleading, is false or that promotes illegal activities or conduct that is
            abusive, threatening, obscene, defamatory or libelous;
        </li>
        <li>promotes unauthorized or an illegal copy of another person's copyrighted work, such as providing pirated
            computer programs or links to them, providing information to circumvent manufacture-installed copy-protect
            devices;
        </li>
        <li>contains restricted or password only access pages, or hidden pages or images (those not linked to or from
            another accessible page) ;
        </li>
        <li>displays pornographic or obscene or sexually explicit material of any kind;</li>
        <li>provides any kind of instructional information about illegal activities such as violating someone's privacy,
            making or buying illegal weapons, or providing or creating computer viruses, or hacking;
        </li>
        <li>solicits passwords or personal identifying information for commercial or unlawful purposes from other users;
            and
        </li>
        <li>provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits
            personal information from anyone under 18;
        </li>
    </ul>
    <br>
    You must use the services at the Site in a manner consistent with any and all applicable local, state, and federal
    laws and regulations.<br><br>
    You may not disclose in your Member profile, visible to other members, any telephone numbers, postal addresses, last
    names, URL's, and email addresses besides the columns that are meant for the same.<br><br>
    You may not engage in advertising / marketing to, or solicitation of, other Members to buy or sell any products or
    services through the site. Although the Site cannot monitor the conduct of its Members off the site, it is also a
    violation of these rules to use any information obtained from the Site in order to harass, abuse, or harm another
    person, or in order to contact, advertise to, solicit, or sell to any Member without their prior explicit consent.
    In order to protect our Members from such advertising or solicitation, ShubhShaadiVivah.com reserves the right to
    restrict the number of emails which a Member may send to other Members which the Site deems appropriate in its sole
    discretion.<br><br>
    In case you chose to discontinue your association with us, you can unsubscribe / remove your account by completing
    the delisting procedure using the Remove Account link available in your folder.
    <p></p>

    <br>
    <p class="blue b large u mb5px">Copyright Policy:</p>
    <p class="aj">You may not post, distribute, or reproduce in any way any copyrighted material, trademarks, or other
        proprietary information without obtaining the prior written consent of the owner of such proprietary rights.
        Without limiting the foregoing, if you believe that your work has been copied and posted on the
        ShubhShaadiVivah.com service in a way that constitutes copyright infringement, please provide our Copyright
        Agent with the following information: an electronic or physical signature of the person authorized to act on
        behalf of the owner of the copyright interest; a description of the copyrighted work that you claim has been
        infringed; a description of where the material that you claim is infringing is located on the our Site; your
        address, telephone number, and email address; a written statement by you that you have a good faith belief that
        the disputed use is not authorized by the copyright owner, its agent, or the law; a statement by you, made under
        penalty of perjury, that the above information in your Notice is accurate and that you are the copyright owner
        or authorized to act on the copyright owner's behalf. ShubhShaadiVivah.com's Copyright Agent for Notice of
        claims of copyright infringement can be reached by writing to the address located under the Contact Us section
        on the site.</p>

    <br>
    <p class="blue b large u mb5px">Disclaimer :</p>
    <p class="aj">
        Though we attempt to make all the information on this site as accurate as possible yet it does not guarantee the
        accuracy, integrity or quality of the same. Any information or assertion which is a part of the matrimonial
        listings, or any other content on the website has not been vetted, screened, endorsed, or investigated, by
        ShubhShaadiVivah.com nor does it in any manner whatsoever certify, guarantee or attest the same to be authentic
        or correct. It does not recommend matches and profiles in any manner. All due diligence efforts and initiatives
        must be exercised by those wishing to use any information found on the Site, and they should take adequate
        precautions with the full and complete knowledge that all information contained in the matrimonial listings have
        been placed there directly by visitors on the website without any prior intimation, consent or verification of
        or by the Site. <br><br>
        Under no circumstances will the Site be liable in any way for any content, including, but not limited to, any
        errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of any
        content posted, emailed, transmitted or otherwise made available at the Site. <br><br>
        The Site is intended only to serve as a preliminary medium of contact and information and does not portray
        itself as a marriage or business bureau and does not, in any manner whatsoever, monitor the first or subsequent
        contacts, introductions and/or interactions which may be caused due to any information specified in its
        contents. The Site cannot guarantee and does not promise any specific results from use of the Site. <br><br>
        It is to be made very clear that any advice, counseling, recommendations or information provided at the Site may
        not necessarily be correct, true or reliable, and that any reliance placed thereon and any action taken on the
        basis of the same shall be solely and entirely at the risk of the person or persons placing such reliance or
        taking such reliance or taking advantage of, at their own initiative, cost and effort. The Site cannot be held
        responsible or liable, in any manner whatsoever, in respect of any reliance placed on any information placed on
        this website, since it serves merely to act as indicator of the general scenario in the related behalf. <br><br>
        The shortlisted profile(s), matching profiles, interested profiles that may be sent through or by the Site is
        not a matrimonial offer and/or recommendation from/by the Site. The Member is solely responsible for his / her
        decision to pursue any such profile holders and the Site shall not be responsible for any loss or damage to any
        individual arising out of, or subsequent to, any relations (including but not limited to matrimonial relations)
        established pursuant to the use of the services on the Site. <br><br>
        The contents at ShubhShaadiVivah.com are neither intended nor meant to induce or persuade or convince or invite
        any person whatsoever to perform any action or do any such thing, or not do the same, where such performance or
        doing, or non-performance or not doing, constitute any contravention of any law or regulation in force for the
        time being to which such person or action may be subject. <br><br>
        ShubhShaadiVivah.com reserves the absolute right to modify or amend or delete, in any manner as it deems fit,
        any contents of any matrimonial listing placed on ShubhShaadiVivah.com in order to ensure compliance with the
        rules of such placement (which may include, without intimation, the efforts and initiatives by
        ShubhShaadiVivah.com to maximize response to matrimonial listings), prima facie accuracy and the prevailing
        laws i force for the time being, especially those relating to prohibition of any improper, indecent, unlawful or
        obscene content. <br><br>
        By listing a matrimonial profile, or a business or personal listing or a link, or any content or listing, on
        ShubhShaadiVivah.com, the person or persons making or posting such listing, and the person or persons
        responsible for such posting or listing, shall be deemed to have agreed to hold ShubhShaadiVivah.com harmless
        and protected against any suit or plaint, civil, pecuniary or criminal, and against any claims or damages
        (including, without limitation, interests, fines and penalties) which may be brought against or levied on
        ShubhShaadiVivah.com on account of any matter arising out of, or relating to such posting or listing. <br><br>
        ShubhShaadiVivah.com hereby specifically disclaims any liabilities or warranties or guarantees, express,
        specific or implied, which may be attributable, in any manner whatsoever, to the existence, promotion,
        canvassing, contents, links, information or discontinuance of ShubhShaadiVivah.com. No claims for damages,
        restitution, loss-of-profits, or any other pecuniary, civil or criminal plaints, which may be said to arise out,
        or on account, of any matter contained or related to ShubhShaadiVivah.com, shall lie or be deemed to be
        sustainable against ShubhShaadiVivah.com. <br><br>
        ShubhShaadiVivah.com considers and intends to be subject only to the applicable laws in force for the time
        being at Telangana and to the jurisdiction of courts located in Telangana alone.
    </p>

    <br>
    <p class="blue b large u mb5px">Limitation on Liability :</p>
    <p class="aj">
        ShubhShaadiVivah.com shall not be liable for any loss or damage of any sort arising out of the use and/or
        temporary or permanent discontinuation of its services. Notwithstanding anything to the contrary contained
        herein, ShubhShaadiVivah.com, liability to you for any cause whatsoever, and regardless of the form of the
        action, will at all times be limited to the amount paid, if any, by you to ShubhShaadiVivah.com, for the
        Service during the term of membership. <br><br>
        The Member is warned against disclosure of any personal / confidential / sensitive information to any previous
        or current employee of the company. The Member would do so solely at his / her own risk and Site / Company shall
        not be liable for the outcome of any such transaction of information including and not limited to damages for
        loss of profits or savings, business interruption, loss of information or repute. <br><br>
        That there are certain free and paid features which may not be incorporated in the mobile application version
        though they are a part of the original website since the mobile apps are designed to be compact and light to
        ensure a smooth experience. Each Member hereby represents, warrants and agrees that the same shall be acceptable
        as a matter of fact and no requests to incorporate any such feature in the mobile app version would be initiated
        by the Members.
    </p>

    <br>
    <p class="blue b large u mb5px">Indemnity:</p>
    <p class="aj">
        You agree to indemnify and hold ShubhShaadiVivah.com, its subsidiaries, affiliates, officers, agents, and other
        partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorney's
        fees, made by any third party due to or arising out of your use of the Service in violation of this Agreement
        and/or arising from a breach of these Terms of Use and/or any breach of your representations and warranties set
        forth above.
    </p>
    <br>
    <p class="blue b large u mb5px">Personalized Services:</p>
    <p class="aj">The Site makes no warranties or guarantees of marriage and only extends support by appointing a
        Relationship Manager who would communicate by mail / phone with the members who have been shortlisted by the
        Member or members who match the search criteria of the Member. The Relationship Manager would actively work on
        behalf of the Member to only generate responses and interest in the Member's matrimonial profile in the tenure
        applicable as per the chosen paid service.<br><br>
        In memberships that offer Conference Call facilitated by ShubhShaadiVivah.com, the specified conference calls
        can be given anytime within the tenure of the membership though ShubhShaadiVivah.com aims at the early delivery
        of the same. Also, on delivery of these specified conference calls the services would be considered delivered
        and the Members can continue to use the other deliverables of the membership in the remaining tenure. No
        requests for more calls would be entertained post the delivery of the specified conference calls.
    </p>
    <br>
    <p class="blue b large u mb5px">Payment and Refund Issue:</p>
    <p class="aj">
        <b>Payment for memberships:</b><br>
        All payments for services at ShubhShaadiVivah.Com have to be made in favour of "Weblink .IN Pvt. Ltd." only.
        All payments need to be made on 100% advance basis to continue to use uninterrupted Paid Services. <br><br>
        For the purpose of ensuring maximum security for the financial information of Members(such as credit card/debit
        card/internet banking data) all such online payment transactions are carried out directly on the secured
        platforms of payment gateways and not on our Site. <br><br>
        We have not authorized any individual or organization to collect payments in any other name (i.e. any other
        individual or organization name) or via personal Western Union or personal Paypal Accounts for any services
        rendered by ShubhShaadiVivah.com. You are informed that under no circumstances will ShubhShaadiVivah.Com be
        liable for any damage caused due to your transactions / payments made to / in favour of such fraudulent
        individuals or organizations. To protect your interests, please contact us immediately if any such fraudulent
        individual or organization tries to mislead you. <br><br>
        The Member, who is liable to pay Subscription Fees, shall pay it on demand even if the Member disputes the same
        for any reason. In the event that the Company deciding the dispute to be in the Member's favor, the Company
        shall refund to the Member any excess amount paid by the Member free of interest. In the event of late payment
        by the Member of any sums due under this Agreement, the Membership and the services would stand
        terminated.<br><br>
        <b>Refund / Money Back Policy:</b><br>
        Once subscribed, the payment made by the Member for Paid service is not refundable and no claim for refund would
        be entertained. ShubhShaadiVivah.Com neither offers any guarantees for the accuracy, timeliness, authenticity
        nor advocates any of the content posted by the other Member. All the services are on a best effort
        basis.<br><br>
        <u>Refund on the basis of fraudulent transactions</u><br><br>
        The Member is solely responsible for maintaining confidentiality, as well as all the activities and transmission
        performed through his My Folder. He/she shall be solely responsible for carrying out any online or off-line
        transaction involving credit cards / debit cards or such other forms of instruments or documents for making such
        transactions. ShubhShaadiVivah.com assumes no responsibility or liability for their improper use of information
        relating to such usage of credit cards / debit cards used by the subscriber online / off-line. <br><br>
        <u>Refund on the basis of change in preference / delay in process</u><br><br>
        As we at ShubhShaadiVivah.Com keep up high interactions with our clients and carry out the entire process with
        their approval thus there is no provision for any kind of full or partial refund. <br><br>
        Once an order is placed it cannot be cancelled as it is sent for processing immediately. Your personal
        preferences changed in the course of time, cannot serve a reason for refund or charge back. <br><br>
    </p>
    <p class="blue b large u mb5px">Suspension / Termination of Services:</p>
    <p class="aj">
        ShubhShaadiVivah.com reserves the right to partially suspend the User’s access to certain features, panels,
        access points or fully terminate a User's Account at any time without assigning any reason or notice to the User
        (Free and Paid Members) in order to protect the interests of other Users of ShubhShaadiVivah.com and / or the
        interests of ShubhShaadiVivah.com.<br><br>
        Termination or suspension either fully or partially as deemed fit by ShubhShaadiVivah.com &nbsp;may be on
        reasonable grounds to suspect / on receipt of complaint / a belief / an investigation / a notification from
        law-making bodies or governing authorities and can be done for the following reasons:<br><br>
        (a)&nbsp; If there is any breach of the provisions of this Agreement by the User(s).<br>
        (b) If the information provided by the User(s) is untrue, inaccurate or is not current or complete, or if the
        User(s) unlawfully uses another person’s identity or impersonates another person in any manner.<br>
        (c) If the User's actions may cause financial loss or legal liability to other User(s), or ShubhShaadiVivah.com
        or its affiliates.<br>
        (d) If the&nbsp;User(s) is engaged in misuse or fraudulent use of the Services or involved in illegal /
        prohibited / inappropriate communications / activities / transactions<br>
        (e) If the User(s) posts any information that is unrelated to the services extended by the Site or uses the Site
        for spamming <br>
        (f) If the User(s) is involved in unauthorized access, use, modification, or control of the Site database,
        network or related services.<br>
        (g) If the User(s) accesses another User(s) account by obtaining another registered User(s) Username and/or
        Password.&nbsp;<br>
        (h) If the User(s) infringes the intellectual property rights of any other person.<br>
        &nbsp;(i) If the User(s) activity that may not be in accordance with the ethics and honest internet
        practices.<br><br>
        With such termination, the User(s) would lose the authority to use the Free and Paid Services of the Site and
        would not be entitled to register again with new User information unless permitted by ShubhShaadiVivah.com in
        writing. No membership charges / subscription fee paid by the User(s) will be refunded in case of termination.
        The User(s) acknowledge and agree that any direct or indirect damage caused due to such termination are not a
        liability of ShubhShaadiVivah.com.
    </p>
    <br>
    <p class="blue b large u mb5px">Member Disputes</p>
    <p class="aj">The Members are solely responsible for interactions at ShubhShaadiVivah.com, hence
        ShubhShaadiVivah.com expressly disclaims any responsibility or liability for any interactions or transactions
        (in cash, as money transfer, in kind as gifts etc.) between the Members. ShubhShaadiVivah.com reserves the
        right, but has no obligation, to monitor disputes between Members.<br><br>
        ShubhShaadiVivah.Com will not be party to any legal proceedings between Member and any other registered or free
        Member for any transactions through the Site. ShubhShaadiVivah.Com will always abide by governing / legal
        authorities order and cooperate fully through the process, but the costs of the same shall be recovered from the
        party that has implicated ShubhShaadiVivah.Com in such case.<br><br>
        ShubhShaadiVivah.com strongly advises the Members against providing your financial information (for example,
        your credit card or bank account information), or wire or otherwise send money, to other Members. If any Member
        asks for personal or financial favours like lending a loan, sending some money, deposit of funds on their behalf
        or even transportation or collection of some goods, it is advised that you cease any communication with the
        Member and report the case to ShubhShaadiVivah.com to support you in the investigation subject to available
        evidence however it cannot be held liable for any damage or loss so caused due to this fraudulent transaction.
    </p>

    <br>
    <p class="blue b large u mb5px">Matter of Disputes and Jurisdictional Aspects :</p>
    <p class="aj">For any kind of legal dispute related to ShubhShaadiVivah.com would be dealt in only territory of
        Delhi. All the legal issues are subjected only to pertinent contemporary's laws in force at New Delhi to the
        jurisdiction of courts located in New Delhi only.</p>

    <br>
    <p class="blue b large u mb5px">Governing Law and Jurisdiction :</p>
    <p class="aj">
        This Agreement and any dispute or matter arising from incidental use ShubhShaadiVivah.com is governed by the
        laws of India and the Member and the Company hereby submit to the exclusive jurisdiction of the courts at Delhi,
        India. This Agreement, accepted upon use of the Site and further affirmed by becoming a Member of the
        ShubhShaadiVivah.com, contains the entire agreement between you and ShubhShaadiVivah.com regarding the use of
        the Site and/or the Service. If any provision of this Agreement is held invalid, the remainder of this Agreement
        shall continue in full force and effect.<br><br>
        We hope you are able to make full use of every facility and service provided by the site to your advantage. We
        wish you the very best in your endeavor and hope that you meet with success in the same.
    </p></div>
<hr>

<section id="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="footer_bottom clearfix">
                <div class="col-sm-5">
                    <div class="footer_bottom_left">
                        <p><i class="fa fa-phone-square"></i> +91-9075445588
                            <i class="fa fa-whatsapp"></i> +91-7013451914</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="footer_bottom_left">
                        <p> © 2021 ShubhShaadiVivah.com. All Rights Reserved | Design by <a
                                href="https://vits.herokuapp.com/">Varun Incorporate</a></p>
                    </div>
                    <div class="footer_bottom_left">
                        <p>This website is strictly for matrimonial purpose only and not a dating website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>