{% load static %}

<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/1d71f92e0a.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{% static 'socials/css/style.css' %}" rel="stylesheet">
    <title>Social Network</title>
</head>
<style>
    body {
        background-color: #ABBAEA;
    }
    div-1 {
        height: 200px;
        margin: 20px;
        border: 5px solid;
        background-color: #FBD603;
    }
</style>
<body>
<div class="container">
    <div class="row">
        <div class="top clearfix">
            <div class="col-sm-12">
                <div>
                    <center>
                        <a href="/" title="ShubhShaadiVivah"><img alt="ShubhShaadiVivah"

                                                                  src="{%  static  'vivah/img/SHADI.png' %}"
                                                                  height="80px"></a>
                    </center>
                    <div class="div-1">
                        <div class="col-md-12 p-5">
                            <a href="{% url 'inbox' %}" class="btn btn-light">Back to Your Inbox</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="top_right clearfix text-right">


                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock content %}

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/social.js' %}"></script>
</body>
</html>